@charset "UTF-8";
@import url(./reset.css);


/* 상단 영역 */
#top{
    position: fixed;
    width: 100%;
    /* 100%가로폭 확장해줌 */
    height: 214px;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    color: rgb(94, 71, 71);
    background-color: rgba(238, 201, 247, 0.589);
    border-radius: 0 0 40px 40px;
}
.titImg {
    margin: 0;
    height: 70px;
}
.tit {
    margin: 0;
    padding: 1.4rem;
    text-align: center;
    font-size: 4rem;
}
.gnb{
    width: 80%;
    white-space: nowrap;
    margin: 0 auto;
}
.gnb ul{
    display: flex;
    justify-content: space-evenly;
}
.gnb li{
    text-align: center;
}
.gnb li a{
    color: hotpink;
    text-decoration: none;
    font-size: 3rem;
    text-shadow: 1px 1px black;
}
.gnb li a:hover{
    text-decoration: underline;
    text-decoration-style: dashed;
}

/* 페이지 박스 : div 블록박스 */
.mybox {
    width: 100%;
    height: 100%;
    /* 배경 이미지 넣기 */
    /* background-image: url("../997.IMG/worksbg.jpg"); */
    /* 배경 반복 여부 */
    background-repeat: no-repeat;
    /* 베경 고정 */
    background-attachment: fixed;
    /* 배경 위치 */
    background-position: center;
    /* 배경 크기 : 채우기 */
    background-size: cover;
    margin-top: -1em;
}
.mbx1{
    background-image: url("../997.IMG/worksbg.jpg");
}
/* 두 번째 페이지박스 */
.mbx2 {
    background-image: url("../997.IMG/005.jpg");
}
.mbx3 {
    background-image: url("../997.IMG/001.jpg");
}
.mbx4 {
    background-image: url("../997.IMG/002.jpg");
}
/* 페이지별 컨텐츠 박스 */
.pwrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-radius: 40px;
    background-color: #f4f4f477;
    position: relative;
    top: 230px;
    height: calc(100% - 300px);
}
/* .pwarp 하위 .part 박스 */
.part{
    flex: 1;
    padding: 2rem;
    /* 일대일 비율로 등분할 */
}
/* .part 서브 타이틀 */
.part h2{
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    background-color: #00000022;
    border-radius: 20px;
    color: #fff;
    text-shadow:
    0 2px 1px #000,
    0 -2px 1px #000,
    2px 0 1px #000,
    -2px 0 1px #000;
}
.part ol{
    display: flex;
    flex-direction: column;
}
.part li{
    display: block;
}
.part li a:hover{
    text-decoration: underline;
}
.part a{
    font-size: 2.5rem;
    text-decoration: none;
}
.part a::before{
    content: '📃';
    margin-right: 1rem;
}

