@charset "UTF-8";
/* 어벤저스 CSS - avengers.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap");

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/
@font-face {
    font-family: 'overwatch';
    src: url('../fonts/koverwatch.woff') format("woff");
}
@font-face {
    font-family: 'overwatch1';
    src: url('../fonts/big_noodle_titling_oblique.woff') format("woff");
}
/* 초기화 */
html,
body,
h1,
h2,
ul,
ol {
    margin: 0;
    padding: 0;
}

/* body의 높이값을 보이는 화면에 맞추기 */
html,
body {
    height: 100%;
    /* body의 100%는 html을 기준으로 하며 html의 100%는 보이는 윈도우 화면을 기준으로 하기 때문에
    html과 body모두 100%세팅을 적용해야 한다.
    
    _______________________________
        가끔 width: 100%를 잡는 경우가 있다
        아무것도 안주면 width: auto임. 둘간의 차이는
        width: 100%는 content영역 크기를 채우도록 세팅함
        따라서 border나 padding을 줄경우 박스가 커지고
        스크롤바가 생김 특별한 경우가 아니라면 auto상태로 놓으면 보더와 패딩이 내부에 자동으로 포함된다

    */
}
html{
    scroll-behavior: smooth;
}

/* 배경이미지 채우기 */
body {
    background: url("../ow_img/Overwatch_bg.jpg") no-repeat fixed center/cover;
    overflow-x: hidden;
}

/* 초기 세팅 */
a {
    color: #fff;
    text-decoration: none;
}

/* 0. 전체 타이틀 */
.tit {
    position: fixed;
    width: 100%;
    font-family: "overwatch1", cursive;
    color: #fff;
    font-size: 90px;
    font-weight: normal;
    text-align: center;
    padding: 50px 0;
    z-index: 9999;
}

/* 1. 페이지 박스 공통 */
.page{
    height: 100%;
    /* 한 페이지당 html, body 보이는 화면 100%와 같이 보이는 화면만큼 크기 확장설정 */
}

/* 2. 메인 캐릭터 박스 */
.abx {
    position: relative;
    top: 210px;
    width: 500px;
    height: 300px;
    background: url("../ow_img/ow_main.jpg") no-repeat center/cover;
    border-radius: 30%;
    margin: 0 auto;
    /* glow효과는 밝은색 그림자로 해결 box-shadow: inset x, y, blur, spread 색 
        spread - blur효과가 퍼지는 시작점*/
    box-shadow: 0 0 50px 10px cyan, inset 0 0 30px lightcyan;

}

/* 3. 캐릭터 박스 */
.cbx {
    position: absolute;
    /* absolute position 위치값 주기전 상태: 모두 겹침, 부모박스에 그대로 있음, 크기는 내용만큼 자동 */
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    /* absolute 자식박스를 부모박스의 정중앙으로 보내기 
        top: calc(50% - 자식박스 height값 절반)
        left: calc(50% - 자식박스 width값 절반)
        원리 -> 50% 밀고 자식박스 크기 절반 빼서 정중앙으로 위치를 이동하는 것.
    */
    /* 박스 크기 설정 */
    width: 200px;
    height: 200px;
    /* 박스테두리 */
    /* outline: 3px dotted yellow; */
    opacity: 0;
    transition: 0.8s ease-in-out;
}
/* 캐릭터이미지 */
.cbx img {
    /* 크기를 박스에 맞춤 - 이미지가 왜곡됨 */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 
    object-fit 속성
    -> 이미지나 동영상을 박스에 맞출 때 옵션을 설정해 사용하는 속성
        1. fill: 설정값에 강제적용(기본값)
        2. contain: 박스에 모두 보임
        3. cover: 박스를 비율에 맞게 채움 0-> 빈틈 없이 채우며 배경cover와 유사한 효과를 준다
    */
    border-radius: 50%;
}

/* body에 hover시 전체 opacity:1 */
body:hover .cbx{
    opacity: 1;
}

/* 2-1. 겐지 */
body:hover .cbx:nth-child(1) {
    top: -9%;
    left: -57%;
}
body:hover .cbx:nth-child(1) img {
    box-shadow: 0 0 30px 10px lightgreen;
    
}
/* 2-2. 한조 */
body:hover .cbx:nth-child(2) {
    top: -9%;
    left: 121%;
}
body:hover .cbx:nth-child(2) img {
    box-shadow: 0 0 30px 10px rgb(89, 89, 252);
    
}
/* 2-3. 트레이서 */
body:hover .cbx:nth-child(3) {
    top: 80%;
    left: -57%;
}
body:hover .cbx:nth-child(3) img {
    box-shadow: 0 0 30px 10px rgb(248, 202, 117);
    
}
/* 2-4. 디바(송하나) */
body:hover .cbx:nth-child(4) {
    top: 80%;
    left: 121%;
}
body:hover .cbx:nth-child(4) img {
    box-shadow: 0 0 30px 10px hotpink;
    
}
/* 2-5. 윈스턴 */
body:hover .cbx:nth-child(5) {
    top: 130%;
    left: 35%;
}
body:hover .cbx:nth-child(5) img {
    box-shadow: 0 0 30px 10px greenyellow;
    
}

/*  캐릭터 설명박스 공통 */
.cd{
    position: absolute;
    top: 10%;
    height: 0;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    font-family: 'overwatch', cursive;
    text-shadow: 1px 1px 1px #000;
    opacity: 0;
    transition: 0.4s ease-out;
}

/* .cd 직계 하위 div로 디자인 이전하기
-> 만든이유 : height값을 0으로 숨기려는데 padding과 border때문에 숨겨지지 않음 따라서 이것을 직계하위 div로 이전함 */
.cd>div{
    width: 300px;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffffff66;
}

.cbx:hover .cd{
    opacity: 1;
    top: 0;
    height: auto;
    /* 전체적으로 transition 설정되어있으나 height값이 특정값(%, px)으로 설정되지 않고 auto일 경우 애니메이션 되지 않음 
    적용되는 것을 안되게 하려면 transition 에서 개별 세팅 해야함*/
}
.ltxt{
    left: -170%;
}
.ltxt h2{
    text-align: right;
}
.rtxt{
    right: -170%;
}

/* 예고편 페이지 */
/* 서브 타이틀 */
.subtit{
    font-size: 40px;
    position: sticky;
    top: 100px;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-family: 'overwatch', cursive;
}

/* 동영상박스 */
.mvbx{
    width: 1080px;
    height: 540px;
    margin: 0 auto;
    margin-top: 100px;
}


.mvbx iframe{
    width: 100%;
    height: 100%;
    border: none;
    /* iframe에는 기본 border가 있어서 없앰 */
}

.page{/* .gobtn의 부모자격 */
    position: relative;
}

/* 이동버튼 디자인 */
.gobtn{
    font-size: 30px;
    position: absolute;
    padding: 7px;
    right: 10%;
    font-family: 'overwatch';
    /* .page가 부모 */
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 
    0px 2px cyan,
    0px -2px cyan,
    2px 0px cyan,
    -2px 0px cyan;
}
.gobtn:hover{
    background-color: lightblue;
    color: rgb(70, 98, 189);
}

#pg1 .gobtn{
    bottom: 5%;
}
#pg2 .gobtn{
    top: 5%;
}

#pg1 .gobtn::after{
    content:"\f063";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 10px;
}

#pg2 .gobtn::after{
    content:"\f062";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 10px;
}