@charset "UTF-8";
/* 공통모듈 디자인 CSS - common.css
-> 상단영역, 하단영역 디자인*/


/********************************************* 1. 상단영역 *********************************************/
#top{
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    position: relative;
    z-index: 9999;
}
.top{
    height: 128px;
}
.tarea{
    position: relative;
}
h1.logo{
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
}
.logo img{
    width: 100px;
}
nav.gnb ul{
    display: flex;
    /* 진행 방향 정렬 */
    justify-content: center;
    /* margin-top은 부모인 nav.gnb 바깥으로 나가서 위의 박스를 밂 */
    margin-top: 27px;
    
}
.gnb>ul>li{
    margin: 0 10px;
}
.gnb>ul>li>a{
    position: relative;
    color: #222;
    font-size: 1.7rem;
    text-decoration: none;
    line-height: 2rem;
}
/*GNB 서브메뉴 배경 상위메뉴 li에 가상요소로 만들기 */
.gnb>ul>li.sm::before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 0;
    top: 129px;
    left: 0;
    background-color: #fff;
    transition: height .45s ease-out;
}

/* 모바일에서는 오버시 설정이 적용되지 않도록 미디어쿼리 min-width를 사용한 구역에 넣어준다 */
/* 780px초과일때만 적용됨 */
@media screen and (min-width: 781px){
    /* 상위메뉴 오버시 서브배경 보이기 */
    .gnb>ul>li.sm:hover::before{
        border-bottom: 2px solid red;
        transition-duration: .25s;
        height: 120px;
    }
    /* 상위메뉴 오버시 하위메뉴 보이기 */
    .gnb>ul>li:nth-child(1):hover .smenu,
    .gnb>ul>li:nth-child(1):hover::before{
        height: 104px;
    }
    .gnb>ul>li:nth-child(1):hover .smenu{
        height: 100px;
    }
    .gnb>ul>li:nth-child(3):hover .smenu,
    .gnb>ul>li:nth-child(3):hover::before{
        height: 130px;
    }
    .gnb>ul>li:nth-child(3):hover .smenu{
        height: 130px;
    }
    .gnb>ul>li:nth-child(4):hover .smenu,
    .gnb>ul>li:nth-child(4):hover::before{
        height: 110px;
    }
    .gnb>ul>li:nth-child(4):hover .smenu{
        height: 70px;
    }
}/*781px초과일때 오버시 적용 ############################*/
.gnb .smbx{
    position: relative;
}
.gnb .smenu{
    position: absolute;
    width: 160%;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    padding: 0 5px;
    margin-top: 2px;
    text-align: center;
    background-color: #fff; 
    height: 0;
    overflow: hidden;
    left: calc(50%);
    transform: translateX(-50%);
    transition: .35s ease-out;
}


.gnb .smenu a{
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #222;
    line-height: 2;
    
    transition: .3;
}
.smenu a:hover{
    transform: scale(1.2);
    color: orangered;
}

/* 가상요소로 밑줄 애니 만들기 */
.gnb>ul>li>a::after{
    content: '';
    display: block;

    /* 변경속성 - 바가 중앙에 있음 */
    width: 0%;
    margin-left: 50%;
    margin-top: 17px;

    height: 2px;
    background-color: #f00;
    transition: all .3s;
}
.gnb>ul>li:hover>a::after{
    /* 바가 중앙에서 펼쳐짐 */
    width: 100%;
    margin-left: 0%;
}







aside.tmenu{
    position: absolute;
    top: 25px;
    right: 0px;
}
.tmenu>ul{
    display: flex;
    align-items: center;
}
.tmenu>ul>li+li{
    margin-left: 10px;
}
/* 탑 메뉴 a */
.tmenu>ul>li>a{
    color: #222;
    font-size: 1.5rem;
    text-decoration: none;
}
.tmenu>ul>li>a:hover{
    text-decoration: underline;
}
.tmenu .sns{
    display: flex;
}
.sns li{
    width: 30px;
    height: 30px;
    background: url(../images/icons.png) no-repeat;
    transition: .09s;
    border-radius: 50%;
}
.sns li:nth-child(1){
background-position: 0 0;
}
.sns li:nth-child(1):hover{
    background-position: 0 -30px;
}
.sns li:nth-child(2){
    background-position: -30px 0;
}
.sns li:nth-child(2):hover{
    background-position: -30px -30px;
}
.sns li:nth-child(3){
    background-position: -60px 0;
}
.sns li:nth-child(3):hover{
    background-position: -60px -30px;
}
.sns li a{
    display: block;
    width: 100%;
    height: 100%;
}

/* 모바일 햄버거 버튼 */
.ham{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 8vw;
    transform: scaleX(1.5);
    display: none;
}
/* 햄버거 모양 가상요소 넣기 */
.ham::before{
    content: '≡';
}
/********************************************* 2. 메인영역 *********************************************/
.cont{
    min-height: 840px;
    /* 자식요소가 많아지면 자동으로 늘어남 */
}
/********************************************* 3. 하단영역 *********************************************/
/* 겉박스 */
#info{
    background-color: #ffffff77;
}
/* 속박스 */
.info{
    height: 200px;
    position: relative;
}

/************** 3-1 하단링크 ************/
.blink{
    padding-top: 5px;
}
/* 하단 링크 리스트 */
.blink ul{
    display: flex;
    justify-content: center;
}
.blink a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #222;
    font-weight: bold;
}
.blink li a:hover{
    color: red;
    text-decoration: underline;
}
.blink li+li{
    margin-left: 15px;
}

/************** 3-2 회사정보 ************/
.addr{
    padding: 10px;
}
.addr address{
    font-size: 1.4rem;
    font-style: normal;
    text-align: center;
    line-height: 2;

    max-width: 804px;
    margin: 0 auto;
    padding: 10px;
    border: 4px double #222;
}
/************** 3-3 하단로고 ************/
.blogo{
    text-align: center;
}
/************** 3-4 바로가기 ************/
.brand{
    position: absolute;
    top: 10px;
    right: 0;
}
/* 선택박스 */
#sel{
    font-size: 1.4rem;
    color: #222;
    font-weight: bold;
    padding: 8px;
    border-radius: 7px;
}
/* 선택시(포커스) 브라우저 기본 아웃라인 없애기 */
#sel:focus{
    outline: none;
}