@charset "utf-8";

@import url(./reset.css);
/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* 네비게이션 유형6 : 공통CSS - common.css */

/* 공사중 */
/* body *{
    outline: 1px dashed red;
} */

/* 중앙속박스 */
.ibx{
    max-width: 1920px;
    margin: 0 auto;
}

/* 1. 상단영역 */
#top{
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #222;
    z-index: 999;
}
/* .top{
    min-height: 350px;
} */
/* 1-1.탑메뉴영역 */
.tmenu{
    height: 80px;
    overflow: hidden;
}
/* 로고 */
#logo{
    display: block;
    width: 125px;
    margin: 0 auto;
    margin-top: 30px;
}
/* 1-2.GNB영역 */
.gnb{
    /* position: relative; */
    max-width: 1300px;
    margin: 0 auto;
    white-space: nowrap;
    /* GNB배경박스보다 위에 위치 */
    z-index: 1;
}
.gnb>ul{
    display: flex;
}
.gnb>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    line-height: 60px;
    color: #ccc;
}
.gnb>ul>li:hover>a{
    /* 그라데이션 배경색을 글자영역에만 보이게 하기 -webkit-접두어는 아직 공식속성에 포함되지 않음 */
    background-image: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 하위메뉴 */
.smenu{
    /* display: flex; */
    position: absolute;
    left: 0;
    width: 100%;
    /* 숨기기 장치 */
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: .4s ease-in-out;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.211);
}
/* 하위메뉴 구조 랩핑박스 */
.smbx{
    display: flex;
    width: 1300px;
    margin: 0 auto;
}

/* 서브메뉴 타이틀 */
.smenu h2{
    width: 166px;
    padding: 20px;
    font-weight: normal;
}
/* 타이틀 */
.smenu h2 div{
    font-size: 25px;
    margin-bottom: 15px;
}
/* 전체보기 */
.smenu h2 a{
    font-size: 14px;
}



/* 서브메뉴(최하위) */
.swrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
}
.swrap dl{
    width: 200px;
}
.swrap dt{
    position: relative;
    font-size: 16px;
    width: 120px;
    border-bottom: 1px solid #ddd;
    padding-bottom:  5px;
    margin-bottom: 10px;
}
.swrap dt::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    transform: translateY(7px);
    background-color: #555;
    transition: width .2s;
}
.swrap dd{
    margin: 5px 0;
}
.swrap dd a{
    position: relative;
    color: #aaa;
    display: inline-block;
    font-size: 13px;
}
.swrap dd a::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #555;
    transition: width .2s;
}
.swrap dd:hover a{
    color: #555;
}
.swrap dt:hover::after, .swrap dd:hover a::after{
    width: 100%;
}

/* 서브메뉴 배경박스 */
.bgbx{
    position: absolute;
    top: 140px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: .4s ease-in-out;
}