@charset "UTF-8";
/*  외부 CSS파일 상단에는 @charset 필수 */
/* Info PJ 공통 CSS - common.css */

/* 웹 폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500&family=Hahmlet:wght@400;700&family=Josefin+Sans:wght@400;500;600&family=Noto+Sans+KR:wght@300;400;500&family=Ubuntu:wght@400;500&display=swap");

/* 
1. 타이틀용
font-family: 'Hahmlet', serif;
2. 본문 한글용
font-family: 'Noto Sans KR', sans-serif;
3. 본문 영어용
font-family: 'Ubuntu', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'La Belle Aurore', cursive;

*/

/*
[스타일 시트 문법 영역 - 기본 문법]

선택자{
    속성: 값;
}

[ CSS 박스 모델 ]
-> 모든 요소는 박스 형태로 그 디자인을 설정함
https://www.w3schools.com/css/css_boxmodel.asp

-> 5가지 속성 세팅
    1. width : 가로크기
    2. height : 세로크기
    3. padding : 안쪽 여백
    4. border : 경계선
    5. margin : 바깥 여백

-> 박스모델 적용은 블록요소를 기본으로 함


[ CSS 선택자 (selector) ]
1. 타입 선택자 : 요소명으로 선택
    예) h1{}, div{}, a{}
2. 아이디 선택자 : "#"
    예) #my{}
3. 클래스 선택자 : "."
    예) .my{}
4. 종속 선택자 : 요소명#아이디명 / 요소명.클래스명 / 요소명#아이디명.클래스명
    예) div#my{} -> div요소이면서 아이디가 my
    예) a.my{} -> a요소이면서 클래스가 my
    -> 기본적으로 종속선택자는 요소분석기에서 사용됨
    -> 특정 요소에 특정 이름을 밝혀야 할 경우
    -> 클래스 적용시 같은 이름으로 다른 디자인을 줄때 사용
        예) div.on{} / header.on{} -> 같은 클래스이지만 다른 디자인 적용가능
5. 그룹 선택자 : ","
    예) h1, div, a {}
6. 자손 선택자 : 띄어쓰기
    예) div a{} -> div하위의 모든 a요소 선택
7. 직계 자손 선택자 : ">"
    예) header>a{} -> header바로 밑의 a요소 선택
8. 형제 선택자 : +
    예) div+div{} -> 앞에 형제 div가 있는 div선택
    예) a+a{} -> 앞에 a가 있는 a선택
    -> 첫 번째를 제외한 나머지 형제요소들 선택시 사용함
*/

/* 기본 마진 패딩 없애기 */
html,
body {
    margin: 0;
    padding: 0;
    /* 실제는 body에만 마진 8px 있지만 사용자가 별도로 적용한 마진등 초기화할 때 한꺼번에 최상위 요소인 html과 body를 margin, padding을 0으로 세팅 */
}
/* 바디 */
body {
    padding-bottom: 40px;
}

/* 박스 공통 클래스 */
.bx {
    /* 1) 가로 크기 - 아무값도 없으면 auto가 기본값 -> 블록일 경우 부모요소 끝까지 차지 */
    width: 750px;
    /* 2) 세로 크기 - 아무값도 없으면 auto가 기본값 -> 블록일 경우 내용만큼만 늘어남.*/
    /* height: 150px; */
    /* 3) 경계선 border :  두께 종류 색상
        - border-width : 두께
        - border-style : 종류
        - border-color : 색상
        - border-radius : 둥근 모서리 - 50%를 주면 원으로 됨*/
    border: 5px #98b2fc;
    border-style: dashed ridge;
    border-radius: 30px;

    /* 4) 안쪽 여백 
        padding : 1; (4방향)
        padding : 1 2; (위아래 양쪽)
        padding : 1 2 3; (위 양쪽 아래)
        padding : 1 2 3 4; (위 오른 아래 왼쪽)
        -> margin 동일
    */
    padding: 20px;
    /* 5) 바깥 여백 */
    margin: 30px;
    /* 마 영 오
        - 일반적인 블록요소가 가로크기를 가질때 중앙정렬하려면 양쪽 margin을 auto로 설정함. 이때 위아래 0, 양쪽 auto -> 마영오
    */
}
/* 1. 상단 영역 */
.top {
    /* 배경색 */
    background-color: #bccdfcc0;
    /* 글자 중앙 정렬 */
    text-align: center;
}

/* 타이틀 */
.top > h1 {
    /* 1) 글자 스타일 : font-style */
    /* font-style: italic; */
    /* 2) 글자 두께 : font-weight */
    font-weight: bold;
    /* 3) 글자 크기 : font-size - 단위 pt, px, em, rem, vw, vh*/
    font-size: 50px;
    /* 4) 글자 줄간격(글이 여러줄일때 사이 간격용, 글자 박스에서 세로 중앙정렬시 사용) : line-height - 단위 없을 시 글자 크기의 배수*/
    line-height: 25px;
    /* 5) 글자체 : font-family - 콤마 여러개로 대체할 체를 설정*/
    font-family: "hahmlet", "Noto Sans KR", sans-serif;
    /* 6) 글자색 : color - 해시코드/RGB/HSL/웹 색상명 */
    color: darkblue;
}

/* GNB메뉴 */
#gnb a {
    font-family: "hahmlet";
    font-size: 20px;
    /* a요소는 기본적으로 밑줄과 글자색이 세팅되어있음 - 반드시 a에서 변경해야만 적용됨.(부모에서는 적용안됨9) */
    color: rgb(103, 113, 255);
    text-decoration: none;
}
/* a요소 오버시 */
/* hover 가상클래스 -> 마우스 오버된 상태에 대한 디자인 세팅 */

/* a+a:hover{} 앞에 a형제가 있는 a에 마우스 오버시 */
#gnb a + a:hover {
    /* 글자색 */
    color: olive;
    /* 글자 데코레이션 : text-decoration
                    underline(밑줄)/overline(윗줄)/line-through(중간줄)/none(없음)*/
    text-decoration: underline;
}

/* 로고 이미지 */
#gnb img {
    /* 인라인 요소간 세로정렬(진행방향) : vertical-align - 값: top, bottom, middle, 수치 */
    vertical-align: -3px;
}

/* 2. 메인 영역 */
/* 메인 영역 이미지 */
/* 메인의 .cont 직계자식 img만 적용 */
.cont>img {
    width: 100%;
    /* 이미지는 한쪽만 크기를 주면 자동으로 비율유지를 하면서 변경됨 - 100%는 부모박스에 맞춰짐 */
}
/* 3. 하단 영역 */
.info {
    /* 배경색 */
    background-color: #bccdfcc0;
    /* 글자 중앙 정렬 */
    text-align: center;
}
.info address {
    font-style: normal;
    color: #444;
    font-family: "Noto Sans KR";
    font-weight: 400;
}
