@charset "UTF-8";
/* 서브 페이지 공통 CSS - sub.css */

/* [import로 파일 합치기]
    - 외부 CSS 파일에서 다른 외부 CSS파일을 import방식으로 불러올 때의 장점
        -> html파일에서 link요소로 호출할 경우 http request (웹요청)이 많아져서
            페이지 렌더링 속도에 영향을 미침.
        따라서 import 방식을 사용하면 더 적은 웹요청에 따라 처리 속도에 이점을 가짐
        - 주의사항 : import는 CSS파일 상단에서 처리함
*/
/* @import url(파일주소); */
@import url("./common.css");

/* 본 CSS설정은 하단에서 불러옴 */


/* 2. 메인 영역 */
/* 메인 영역 박스 */
.cont {
    /* (기존 20px 재정의) */
    padding: 15px;
    /* 글씨체 */
    font-family: 'Noto Sans KR', 'Ubuntu', sans-serif;
}

/* 2-1 언론사 로고 */
.prlogo{
height: 50px;
}
.prlogo img{
    height: 32px;
    margin-left: 20px;
}

/* 2-2 기사 제목 */
.atit{
    margin: 5px;
    /* 글자크기 */
    font-size: 30px;
    /* 글자두께 */
    font-weight: normal;
    /* 자간 */
    letter-spacing: normal;
    /* 단어간격 */
    word-spacing: normal;
    /* 줄바꿈 방지 */
    /* white-space: nowrap; */
}
.atidate{
    color: #999;
    margin: 5px;
}

/* 2-3 기사 사진(+사진 설명) */
.afig{
    margin: 15px 0;
    text-align: center;
}
/* 기사 이미지 */
.afig img{
    width: 100%;
}
/* 기사 이미지 설명글 */
.afig small{
    font-family: "hahmlet", san-serif;
    font-size: 13px;/* 글자크기 최저 한계 10px */
    color: #333;
}

/* 2-4 기사 내용 */
.arti p{
    font-size: 16px;
    line-height: 1.7;
    padding: 0 10px;
    /* 글자 들여쓰기 : 양수는 들여쓰기, 음수는 내어쓰기*/
    /* text-indent: 20px; */
}
    /* 마크요소 변경하기 */
    .arti p mark{
        /* inline을 block으로 */
        display: block;
        /* 글자크기 */
        font-size: 20px;
        line-height: 2;
        padding: 20px 40px;
        /* 배경색 */
        background-color: #ededed;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        /* 중앙 정렬 */
        text-align: center;
        margin: 15px 0;
    }
/* 2-5 기자 정보 */
/* 2-6 기사 원문 */

