@charset "UTF-8";
/* 서브 페이지 공통 CSS - sub.css */

/* [import로 파일 합치기]
    - 외부 CSS 파일에서 다른 외부 CSS파일을 import방식으로 불러올 때의 장점
        -> html파일에서 link요소로 호출할 경우 http request (웹요청)이 많아져서
            페이지 렌더링 속도에 영향을 미침.
        따라서 import 방식을 사용하면 더 적은 웹요청에 따라 처리 속도에 이점을 가짐
        - 주의사항 : import는 CSS파일 상단에서 처리함
*/
/* @import url(파일주소); */
@import url("./common.css");

/* 본 CSS설정은 하단에서 불러옴 */


/* 2. 메인 영역 */
/* 메인 영역 박스 */
.cont {
    /* (기존 20px 재정의) */
    padding: 15px;
    /* 글씨체 */
    font-family: 'Noto Sans KR', 'Ubuntu', sans-serif;
}

/* 2-1 언론사 로고 */
.prlogo{
height: 50px;
}
.prlogo img{
    height: 32px;
    margin-left: 20px;
}

/* 2-2 기사 제목 */
.atit{
    margin: 5px;
    /* 글자크기 */
    font-size: 30px;
    /* 글자두께 */
    font-weight: normal;
    /* 자간 */
    letter-spacing: normal;
    /* 단어간격 */
    word-spacing: normal;
    /* 줄바꿈 방지 */
    /* white-space: nowrap; */
}
.atidate{
    color: #999;
    margin: 5px;
}

/* 2-3 기사 사진(+사진 설명) */
.afig{
    margin: 15px 0;
    text-align: center;
}
/* 기사 이미지 */
.afig img{
    width: 100%;
    }
/* 기사 이미지 설명글 */
.afig small{
    font-family: "hahmlet", san-serif;
    font-size: 13px;/* 글자크기 최저 한계 10px */
    color: #333;
}

/* 2-4 기사 내용 */
.arti p{
    font-size: 16px;
    line-height: 1.7;
    padding: 0 10px;
    /* 글자 들여쓰기 : 양수는 들여쓰기, 음수는 내어쓰기*/
    /* text-indent: 20px; */
    /* 양쪽 정렬 */
    text-align: justify;
}
    /* 마크요소 변경하기 */
.arti p mark{
    /* inline을 block으로 */
    display: block;
    /* 글자크기 */
    font-size: 20px;
    line-height: 2;
    padding: 20px 40px;
    /* 배경색 */
    background-color: #ededed;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    /* 중앙 정렬 */
    text-align: center;
    margin: 15px 0;
}

    /* p요소 내부 em요소 변경 */
.arti p em{
    /* 글자 그림자 hoff: x축, voff: y축, blur:그림자 경계 흐림 */
    text-shadow: 2px 2px 2px rgba(255, 0, 255, 0.514);
    font-style: normal;
    color: #f0f;
    font-weight: bold;
}
/* 2-5 기자 정보 */
.rpt{
    font-size: 14px;
    background-color: #e9e9e9;
    padding: 5px;
    /* 디자인 적용과 동시에 inline특성인 글자만큼만 크기가 잡히도록 inline-block 적용 */
    display: inline-block;
    margin: 15px 0;
}
.cont>h5{
    /* 내부의 inline요소 오른쪽 정렬 */
    text-align: right;
}
/* 2-6 기사 원문 */
.cont>h5>a{
    display: inline-block;
    margin: 0;
    width: 70px;
    height: 70px;
    border: 2px solid #dbdbdb;
    text-align: center;
    /* 세로 중앙 : 같은 높이 */
    line-height: 70px;
    border-radius: 50%;
    background-color: #ffa;
}
.cont>h5>a:hover{
    /* 박스 그림자 x, y, blur spread 색
        spread - 박스 그림자 크기
        내부그림자는 inset */
    box-shadow: 0 0 5px #f00;
}

.cont article{
    border-top: 2PX dashed #000;
    margin-top: 40px;
    padding: 15px;
}

/* 각 파트별 공통 타이틀 */
.cont h3{
    font-family: 'Hahmlet', 'noto sans KR', sans-serif;
    font-size: 25px;
    text-indent: 20px;
    color: #444;
}

/* 기사관련 타이틀 */
.cont article h5{
    margin: 0 0 10px 0;
    padding: 5px 5px;
    display: inline-block;
    background-color: #ddd;
    border-radius: 10px;
    font-family: 'Hahmlet', 'noto sans KR', sans-serif;
    font-size: 14px;
    color: #444;
    /* 박스 그림자 
        - inset 속성 : 내부그림자
            blur 속성 뒤의 값은 spread로 얼만큼 내부로 그림자를 퍼지게 할지 결정 */
    box-shadow: inset 0 0 5px #000000dd;
}

/* 주해 박스 */
.desc div{
    padding: 20px 5px 0;
    line-height: 1.7;
    letter-spacing: 1px;
    text-align: justify;
}

/* 인용 박스 */
.qb blockquote{
    margin: 0;
    padding: 20px 5px 0;
    line-height: 1.5;
    font-size: 14px;
    text-align: justify;
}

.work{
    text-align: center;
    /* 그라데이션 -> 이미지 */
    background-image: 
    /* ( 방향, 색1 %, 색2 %, ...) 
        - 방향 : to top, to bottom, to left, to right
        (방향에 각도를 쓰면 그라데이션 각도가 표현됨)
        -> 방향대신 각도 : 수치deg(예: 45deg 45도)
        * 색상을 콤마로 나열하면 등분할 하여 그라데이션 표현
            색상뒤에 %를 쓰면 특정 비율만큼 그라데이션 표현 가능*/
    linear-gradient(30deg, rgb(255, 193, 112), rgb(255, 132, 132));
    /* 배경이 칠해지는 범위 결정 
        background-clip
        1. border-box : 보더까지 적용(기본값)
        2. padding-box : 패딩까지 적용
        3. content-box : 내용에만 적용*/
    background-clip: content-box;
}

ul>li:hover, ol>li:hover, dl>dd:hover{
    text-decoration: underline;
    cursor: pointer;
}