@charset "utf-8";
/* 메인배너용 CSS - ban.css */
.banner{
    position: relative;
    overflow: hidden;
}
.bantit{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    color: #fff;
    text-shadow: 0 0  3px #000;
}
.slider{
    position: relative;
    left: 0;
    display: flex;
}
.slider li{
    position: relative;
    width: 100%;
    /*  강제 축소 옵션 해제 */
    flex-shrink: 0;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner button{
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
.banner button:hover{
    background-color: hotpink;
}
.banimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 이동버튼 */
.banner .abtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    padding: 0;
    box-sizing: content-box;
    line-height: 40px;
    cursor: pointer;
}
.banner .abtn:hover{
    background-color: #0074e8;
}
.lb{
    left: 5vw;
}
.rb{
    right: 5vw;
}
/* 블릿 */
.indic{
    position: absolute;
    left: 50%;
    bottom: 3vh;
    transform: translateX(-50%);
    display: flex;
}
.indic li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 2px #000;
}
.indic li.on{
    background-color: rgba(255, 255, 255, 0.9);
}