@charset "UTF-8";

.catswbox{
    width: 65%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.playcat{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000099;
    z-index: 999;
}
.catbx{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}