@charset "UTF-8";
.top{
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: #fff;
    z-index: 9999;
}
.gnb{
    width: 1320px;
    margin: 0 auto;
}
.gnb ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 20px;
}
.gnb>ul>li{
    position: relative;
    line-height: 58px;
}
.gnb a{
    color: #222;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -2px;
}
.gnb a:hover{
    color: hotpink;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-shadow: 2px 2px 2px #555;
}
h1{
    text-align: center;
    margin: 0;
}
.smenu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    line-height: 2.5;
    border-radius: 10px;
    box-shadow: 0 0 5px #000000;
    white-space: nowrap;
    display: none;
}
.gnb>ul>li:hover .smenu{
    display: block;
}
.smenu::before{
    content: '';
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-bottom: 15px solid rgba(0, 0, 0, 0.291);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

}
.smenu::after{
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}


/* 메인영역 */
.cont{
    text-align: center;
}
.cont img{
    max-width: 100%;
}
iframe{
    width: 731px;
    height: 412px;
}

/* 하단영역 */
.info{
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(to bottom, #CCC, #777);
    color: #fff;
}
.info ul{
    display: flex;
    flex-direction: column;
}
.info>ul>li>h1{
    margin: 0 auto !important;
}
.bmenu{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.bmenu li{
    padding-right: 10px;
}
.bmenu a:hover{
    color: #0ff;
}
.bmenu li+li{
    padding-left: 10px;
    border-left: 1px solid #fff;
}

.searchingGnb{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #efefef;
    box-sizing: border-box;
    padding: 0 5px;
    position: absolute;
    left: -230px;
    top: 9px;
    line-height: 41px;
    display: none;
}
.searchingGnb input{
    font-size: 15px;
    width: 77%;
    margin-top: 5px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}
input:focus{
    outline: none;
}
.schbtnGnb{
    cursor: pointer;
    margin-top: 9px;
    margin-left: 10px;
}