@charset "UTF-8";

a{
    color: inherit;
}
.vid_box{
    width: 100%;
}
.vid_box.on{
    background-color: #0074e8;
    color: #fff;
}
.vid_container{
    max-width: 1400px;
    width: 80%;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.video_box{
    width: 55%;
}
.video_box iframe{
    border: none;
    box-shadow: 0 0 10px #000;
    width: 100%;
}
.title_box{
    width: 40%;
    padding-left: 3%;
    text-align: left;
}
.title_box h3{
    font-size: 15px;
    color: #999;
}
.title_box h2{
    font-size: 32px;
    margin-top: 15px;
    letter-spacing: -3px;
}
.title_box p{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1px;
}
.link_btn{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 5px;
    text-decoration: none;
    color: #000;
}
.link_btn:hover{
    background-color: #0074eb;
    color: #fff;
    border: 2px solid #fff;
}

@media screen and (max-width:1024px) {
    .vid_container{
        flex-direction: column;
    }
    .video_box{
        width: 100%;
    }
    .title_box{
        width: 100%;
    }
}