@charset "UTF-8";

.vidswbox{
    width: 65%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.playvid{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000099;
    z-index: 999;
}
.vidbx{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.playvid iframe{
    width: 900px;
    height: auto;
    aspect-ratio: 1280/720;
    border: 2px solid #444;
    box-sizing: border-box;
}
.vidtit{
    position: relative;
}
.vidtit h2{
    text-align: center;
    color: #fff;
}
.cbtn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}