@charset "UTF-8";

/* 쇼핑몰 갤러리 CSS - small.css */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ubuntu&display=swap');
body{
    font-family: 'Nanum Gothic','Ubuntu', sans-serif;
}

.tit {
    text-align: center;
    font-size: max(3vw,25px);
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: min(10px, 1vw);
    grid-row-gap: min(1.5vw, 15px);
}   
.grid>div{
    position: relative;
    aspect-ratio: 280/400;
    overflow: hidden;
}

.grid img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-out;
}

.grid>div:hover img{
    animation: magAni .8s ease-in-out infinite alternate;
}
@keyframes magAni {
    to{
        transform: scale(1.2);
    }
}
.grid aside{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #00000060;
}
.grid aside h2{
    font-size: min(1.8vw, 24px);
    font-weight: normal;
    margin: min(1.2vw, 14px) 0 0;
}
.grid aside h3{
    font-size: min(1.4vw, 18px);
    font-weight: normal;
    margin: min(0.8vw, 10px) 0 ;
}

/* IR 클래스 */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 큰 이미지 배경박스 */
#bgbx {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    /* 처음에 안보임 */
}

/* 이동버튼 공통 */
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
    width: 56px;
    height: 111px;
    background: url(../img_gallery/mv_btns.png) no-repeat;
}

/* 오른쪽버튼 */
.rb {
    right: 5%;
    background-position: 0 -100px;
}

.rb:hover {
    background-position: -167px 0;
}

/* 왼쪽버튼 */
.lb {
    left: 5%;
    background-position: -232px 0;
}

.lb:hover {
    background-position: 0 -221px;
}

/* 닫기버튼 */
.cbtn {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 39px;
    background: url(../img_gallery/mv_btns.png) no-repeat;
    background-position: -129px -342px;

    /* 트랜지션 */
    transition: transform 0.3s;
}

/* 닫기버튼 오버시 */
.cbtn:hover {
    transform: rotate(-90deg);
}

/* 큰 이미지박스 */
#imbx {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 정중앙이동 */
    width: 60vw;
    height: 60vmin;
    /* vmin은 보이는 화면에서 가로/세로중 작은쪽기준! */
}
#imbx h1{
    font-size: 20px;
}
/* 속박스 */
.inx{
    display: flex;
    height: 100%;
}
/* 하위 두 개 박스 - 등분할 */
.inx>section{
    flex: 1;
    border: 4px double gray;
}

/* 큰 이미지 */
.gimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.del {
    text-decoration: line-through;
    color: green;
}


/*신상품 상세정보 영역*/
.gdesc {
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
}
.gdesc ol{
    margin: 0;
    padding: 0;
    list-style: none;
   width: 80%;
   margin-left: 20px;
}
.gdesc ol>li{
   width: 100%;
   font-family: 'Nanum Gothic';
   font-size:12px;
   line-height: 3.5vh;
}
.gdesc ol>li>span:first-child{/*각항목 타이틀*/
   display: inline-block;
   width: 70px;
    font-size: 14px;
}
.gdesc ol>li:nth-child(3){
   border-bottom: 1px solid #ccc;
}


/*이미지 정렬 공통*/
.gdesc ol>li img{
   vertical-align: middle;/*인라인 태그 정렬 세로중앙*/
   margin: 0 4px;
}




/*상품명*/
.gdesc #gtit{
   font-size: 24px;
}
/*상품가격*/
.gdesc #gprice{
   font-size: 24px;
   color: #ff4e08;
}

/****버튼 구역*****/
.btn{
   width: 30%;
    aspect-ratio: 3/1.2;
   font: 1vw 'Ubuntu';
   color: #fff;
   background-color: #666;
    vertical-align: top;
    cursor: pointer;
    border-radius: 15px;
}
.btn1{/*구매버튼*/
   background-color: #ff4e08;
}

/*상세이미지 박스*/
.dimgs{
   position: relative;
   width: 1440px;
   padding: 50px 0;
   margin: 0 auto;
}
.dimgs>img{/*이미지 공통*/
   width: 49%;
   height: 49%;
   margin: 0.5%;
   outline: 1px solid #ccc;
}

/*상품 수량에 따른 계산 박스*/
#sum{
   width: 25px;
}
.chg_num{
   display: inline-block;
   width: 18px;
   height: 20px;
   margin: 0;
   padding: 0;
   line-height: 0;
   vertical-align: -4px;
}
.chg_num img{
   cursor: pointer;
}
.tot{
   font-size: 24px !important;
}
#total{
   color: #FC0206;   
   font-weight: bold;
}

/* 스크롤바 디자인 클래스 */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #555;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}











@media screen and (max-width:1100px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width:1000px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:800px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid aside h2{
        font-size: 3vw;
        font-weight: normal;
        margin: 2vw 0 0;
    }
    .grid aside h3{
        font-size: 2vw;
        font-weight: normal;
        margin: 1vw 0 ;
    }
    
}
@media screen and (max-width:600px) {
    body{
        margin: 0;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0;
    }
    .grid aside h2{
        font-size: 7vw;
        font-weight: normal;
        margin: 3vw 0 0;
    }
    .grid aside h3{
        font-size: 4vw;
        font-weight: normal;
        margin: 2vw 0 ;
    }
}



