@charset "UTF-8";

/* 쇼핑몰 갤러리 CSS - small.css */


.tit {
    text-align: center;
    font-size: max(3vw,25px);
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: min(10px, 1vw);
    grid-row-gap: min(1.5vw, 15px);
}   
.grid>div{
    position: relative;
    aspect-ratio: 280/400;
    overflow: hidden;
}

.grid img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-out;
}

.grid>div:hover img{
    animation: magAni .8s ease-in-out infinite alternate;
}
@keyframes magAni {
    to{
        transform: scale(1.2);
    }
}
.grid aside{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #00000060;
}
.grid aside h2{
    font-size: min(1.8vw, 24px);
    font-weight: normal;
    margin: min(1.2vw, 14px) 0 0;
}
.grid aside h3{
    font-size: min(1.4vw, 18px);
    font-weight: normal;
    margin: min(0.8vw, 10px) 0 ;
}
@media screen and (max-width:1100px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width:1000px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:800px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid aside h2{
        font-size: 3vw;
        font-weight: normal;
        margin: 2vw 0 0;
    }
    .grid aside h3{
        font-size: 2vw;
        font-weight: normal;
        margin: 1vw 0 ;
    }
    
}
@media screen and (max-width:600px) {
    body{
        margin: 0;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0;
    }
    .grid aside h2{
        font-size: 7vw;
        font-weight: normal;
        margin: 3vw 0 0;
    }
    .grid aside h3{
        font-size: 4vw;
        font-weight: normal;
        margin: 2vw 0 ;
    }
}




/* IR 클래스 */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 큰 이미지 배경박스 */
#bgbx {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    /* 처음에 안보임 */
}

/* 이동버튼 공통 */
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
    width: 56px;
    height: 111px;
    background: url(../img_gallery/mv_btns.png) no-repeat;
}

/* 오른쪽버튼 */
.rb {
    right: 5%;
    background-position: 0 -100px;
}

.rb:hover {
    background-position: -167px 0;
}

/* 왼쪽버튼 */
.lb {
    left: 5%;
    background-position: -232px 0;
}

.lb:hover {
    background-position: 0 -221px;
}

/* 닫기버튼 */
.cbtn {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 39px;
    background: url(../img_gallery/mv_btns.png) no-repeat;
    background-position: -129px -342px;

    /* 트랜지션 */
    transition: transform 0.3s;
}

/* 닫기버튼 오버시 */
.cbtn:hover {
    transform: rotate(-90deg);
}

/* 큰 이미지박스 */
#imbx {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 정중앙이동 */

    height: 60vmin;
    /* vmin은 보이는 화면에서 가로/세로중 작은쪽기준! */
}

/* 큰 이미지 */
#imbx img {
    height: 100%;
}

.del {
    text-decoration: line-through;
    color: green;
}