@charset "UTF-8";
/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

/* Robot PJ Main CSS File */

/* 초기화 */
html,
body,
h1,
h2,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body {background: url("../images/bg.jpg") no-repeat fixed top/cover; overflow-x: hidden;}

/* 공통클래스 */
/* 메탈소재1 배경 */
.mt1 {background: url("../images/metal01.jpg") no-repeat center/cover;}
/* 메탈소재2 배경 */
.mt2 {background: url("../images/metal02.jpg") no-repeat center/cover;}

/* body * {outline: 2px dashed yellow;} */
/*************************** 1. 상단영역 ***************************/

/* 1-1 로고 */
.logo{
    position: fixed;
    /* 
        [ absolute / fixed 포지션 정중앙보이기 ]
        1. calc()로 계산
        -> top: calc(50% - 중앙갈 박스 높이값 절반)
            left: calc(50% - 중앙갈 박스 넓이값 절반)
        2.위치값 50% 이동후 트랜스폼 사용하기
        -> top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
    */
    top: calc(50% - 104px);
    left: calc(50% - 104px);
    transform: scale(2);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ccc;
    text-align: center;
    z-index: 1;
    background: pink url(../images/robot_03.png) no-repeat center 10px/160px;
    box-shadow: 
    inset 0 0 20px 5px darkred,
    0 0 20px 5px pink;

    
    color: aquamarine;
    /* font: 스두크/줄체; */
    font: 45px/200px 'orbitron';
    text-shadow: 3px 3px 5px darkblue   ;
}

/* 1-2 링크 타이틀 */
.link{
    position: absolute;
    top: 100px;
    right: 50px;
}
.link a{
    text-decoration: none;
    color: lawngreen;
    text-shadow: 2px 2px 2px #000;
    font: 50px "Black Ops One";
}
.link a:hover{
    color: orangered;
    text-decoration: underline;
    text-decoration-style: double;
}


/* 1-3 탑 버튼 */
.btnTop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px outset #fff;
    background-color: #ccc;
}
.btnTop a{
    display: block;
    width: 100%;
    height: 100%;
    color: blue;
    text-decoration: none;
    font: 30px/90px "black ops one";
    /* line-height가 높이값인 100px이므로 중앙정렬위해 100px로 작성하지 않는이유
    -> button은 기본적으로 box-sizing: border-box이므로 패딩과 보더가 내부에 포함됨
    -> content영역이 그만큼 작아지기 때문에 border 두꼐를 뺀 90px로 작성해야함 */
}
.btnTop:hover{
    border-radius: 50%;
    border: inset;
    background-color: #ff0;
}
.btn:hover a{
    color: red;
}















/*************************** 2. 메인영역 ***************************/

/* 로봇박스 */
.robx {
    padding: 29px 0 226px;
}
/* 로봇 머리 */
.head {
    /* 부모자격 부여 position: relative; */
    position: relative;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    background: url(../images/metal01.jpg) no-repeat top/100%;
}
.head::after{
    content: '';
    display: block;
    position: absolute;
    background: url(../images/metal01.jpg) no-repeat bottom/100%;
    width: 250px;
    height: 100px;
    top: 149px;
    z-index: -1;
    clip-path: polygon(0 0, 0 30%, 10% 70%, 20% 80%, 40% 100%, 60% 100%, 80% 80%, 90% 70%, 100% 30%, 100% 0);
}

/* 로봇 머리에 가상요소로 머리털 박스 만들기 */
.head::before {
    content: "";
    display: block;
    position: absolute;
    top: -148px;
    left: -77px;
    width: 407px;
    height: 488px;
    z-index: 1;
    background: url(../images/hair.png) no-repeat 0 / cover;
}

/* 로봇 머리 직계하위 div는 모두 position: absolute; */
.head > div {
    position: absolute;
}

/* 눈공통 */
.eye {
    width: 50px;
    height: 50px;
    /* 배경 공통 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* 가로세로를 강제로 늘려서 맞춤 */
    border-radius: 50%;
    border: 4px double #000;
}
/* 왼쪽눈 */
.e1 {
    top: 50px;
    left: 50px;
    background-image: url(../images/e1.jpg);
}
/* 오른쪽눈 */
.e2 {
    top: 50px;
    right: 50px;
    background-image: url(../images/e2.jpg);
}

/* 코 */
.nose {
    width: 49px;
    height: 56px;
    border-radius: 40%;
    top: 113px;
    left: 100px;
    background: url(../images/nose.jpg) no-repeat -1px/114% 100%;
}
.nose::after, .nose::before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: -59px;
    width: 20px;
    height: 20px;
    clip-path: polygon(0 100%, 50% 4%, 100% 100%);
    background-color: #a441dd;
}
.nose::before{
    transform: 
    rotate(180deg) 
    translateY(-30%);

}

/*
    [ CSS 클리핑 ]
    clip-path: poligon(x1 y1, x2 y2,....)
    -> 각 좌표쌍은 띄어쓰기로 각 점은 콤마로 구분
    -> 각 점을 연결하여 도형모양만 출력
    -> 픽셀일 경우 각 도형 내부의 수치로 작성
    -> %의 경우 도형을 기준한 위치를 %로 작성

*/

/* 입 */
.mouth {
    width: 95px;
    height: 53px;
    top: 186px;
    left: 78px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
    transform: rotate(341deg) skewX(325deg)
}

/* 귀 공통 */
.ear {
    position: absolute;
    width: 50px;
    height: 70px;
}
/* 왼쪽귀 */
.er1 {
    left: -50px;
    top: 90px;
    border-radius: 20px 0 0 20px;
}
/* 오른쪽귀 */
.er2 {
    right: -50px;
    top: 30px;
    border-radius: 0 20px 20px 0;
}

/* 로봇 몸통 */
.body{
    position: relative;
    width: 200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 133px;
    border-radius: 0 0 50% 50%;
}

.body>div{
    position: absolute;
}

.body::before{
    content: '';
    display: block;
    position: absolute;
    width: 350px;
    height: 200px;
    left: -75px;
    background-image: linear-gradient(27deg, #f77373, #4d163a, #f77373, #4d163a, #f77373, #4d163a, #f77373);
    clip-path: polygon(0 0, 0 20%, 10% 30%, 20% 100%, 80% 100%, 90% 30%, 100% 20%, 100% 0);
}
.body::after{
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 170px;
    left: -27px;
    bottom: -37px;
    background-image: linear-gradient(153deg, #73acf7, #16174d, #73acf7, #16174d, #73acf7, #16174d, #73acf7);
    clip-path: polygon(10% 0, 0 20%, 10% 80%, 44% 100%, 56% 100%, 90% 80%, 100% 20%, 90% 0);
}
/* 목 */
.neck{
    top: -36px;
    left: 76px;
    width: 50px;
    height: 50px;
    border-radius: 0 0 20px 20px;
    z-index: -2;
    border-bottom: 17px ridge goldenrod;
}


/* 팔 공통 */
.arm{
    width: 80px;
    height: 200px;
    z-index: -2;
    border-radius: 50% 50% 25px 25px;
}

/* 팔공통 가상요소 연결부분 */
.arm::before, .arm::after{
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: -35px;
    left: 6px;
    z-index: 1;
    border-radius: 50%;
    background-color: #ccc;
    border: 4px solid #999;
    box-sizing: border-box;
}
.arm::after{
    transform: scale(.6);
    /* 선형 그라데이션 */
    background-image: linear-gradient(-45deg, #444, #999, #eee);
}


/* 팔 하단 */
.arm span{
    position: absolute;
    top: 100%;
    left: 5px;
    display: block;
    width: 60px;
    height: 150px;
    border-radius: 25px 25px 30px 30px;
    /* 공통 회전축 변경 */
    transform-origin: top;
}

.arm span::after{
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 130px;
    bottom: -130px;
    transform-origin: top;
}

/* 왼팔 */
.a1{
    left: -70px;
    transform: rotate(10deg);
    transform-origin: 42% 13%;
}
/* 왼팔 하단 */
.a1 span{
    transform: rotate(2deg);
}
/* 왼쪽 손 */
.a1 span::after{
    left: -15px;
    background: url(../images/hand_left.png) no-repeat bottom/100%;
    transform: rotate(-1deg);
}

/* 오른팔 */
.a2{
    right: -70px;
    transform: rotate(339deg);
    transform-origin: 51% 16%;
}
/* 오른팔 하단 */
.a2 span{
    transform: rotate(12deg);
}
/* 오른손 */
.a2 span::after{
    left: -23px;
    background: url(../images/hand_right.png) no-repeat bottom/100%;
    transform: 
    rotateY(35deg)
    rotate(10deg);
}

/* 어깨 공통 */
.shd{
    width: 90px;
    height: 90px;
    border-radius: 15px 15px 50% 50%;
}
/* 왼어깨 */
.s1{
    top: -20px;
    left: -90px;
    clip-path: polygon(0 0, 0 100%, 58% 100%, 40% 22%, 100% 22%, 100% 0);
}
/* 오른어깨 */
.s2{
    top: -20px;
    right: -90px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 42% 100%, 60% 22%, 0 22%);
}


/* 다리 공통 */
.leg{
    top:80%;/* 부모박스 높이만큼 밂 */
    width: 90px;
    height: 270px;
    z-index: -2;
    border-radius: 25px 25px 30px 30px;
}
/* 다리 공통 가상요소로 연결부분 */
.leg::before, .leg::after{
    content: '';
    display: block;
    position: absolute;
    width: 85px;
    height: 85px;
    left: 3px;
    border-radius: 20px;
    bottom: -40px;
    z-index: 1;
    transform: 
    scaleX(.8)
    rotate(45deg);
    background-color: #bbb;
    border: 3px solid #333;
}
.leg::after{
    transform: 
    scale(.7)
    scaleX(.8)
    rotate(45deg);
    background-image: linear-gradient(-90deg, #444, #999, #eee);
}

/* 다리하단 공통 */
.leg span{
    position: absolute;
    top: 100%;
    left: 10px;
    display: block;
    width: 70px;
    height: 280px;
    border-radius: 25px 25px 30px 30px;
}
.leg span::before{
    content: '';
    display: block;
    position: absolute;
    width: 85px;
    height: 150px;
    top: 40%;
    left: -10px;
    border: 4px solid #000;
    border-top: 25px solid #000;
    box-sizing: border-box;
    background-image: linear-gradient(-90deg, #16174d, #73acf7, #eee);
}
.leg span::after{
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 80px;
    bottom: -10%;
    left: -10px;
    border-radius: 30px 30px 0 0;
    border: 2px solid #000;
    border-bottom: 25px solid #000;
    box-sizing: border-box;
    background-image: linear-gradient(-45deg, #4d163a, #f77373,#eee);
}
/* 왼다리 */
.lg1{
    left: -6px;
}
/* 오른다리 */
.lg2{
    right: -6px;
}
/* TV */
.tv{
    width: 180px;
    height: 138px;
    top: 30px;
    left: 10px;
    background: url(../images/tv.jpg) no-repeat center/cover;
    border-radius: 5px;
}
.screen{
    position: absolute;
    top: 17px;
    left: 10px;
    width: 129px;
    height: 97px;
    border-radius: 5px;
    background-color: #000;
    overflow: hidden;
}

/* 유튜브 영상 */
.screen iframe{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 129px;
    height: 97px;
    border: none;
}

/************************* 2-2 로봇설병박스 *************************/
.dcbx{
    max-width: 800px;
    margin: 0 auto;
    /* 하단공간 */
    margin-bottom: 200px;
    /* 반투명 배경색 */
    background-color: rgba(0, 0, 0, 0.26);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 15px 30px;
    /* 경계선 */
    border: 3px solid #fff;
    border-radius: 20px;
    box-shadow: 
    inset 0 0 20px blue,
    inset 0 0 50px 10px cyan;
}


/* 2-2-1 제목 */
.dcbx h2{
    position: sticky;
    top: 5px;
    font-family: "chakra petch";
    text-align: center;
    font-size: 35px;
    color: lime;
    border-radius: 15px;
    background-color: #ffffff99;
}

/* 2-2-2 출처 */
.dcbx small{
    font-family: "chakra petch";
    font-size: 12px;
    color: #ff0;
    line-height: 3;
    display: block;
    text-align: center;
}


/* 2-2-3 내용단락 */
.dcbx p{
    font-family: "barlow";
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 1px;
    word-spacing: 2px;

    /*******************************

    [ 다단 설정 ]
    - 다중열 속성
    -> column-count: 다중열 개수
    -> column-rule: 다중열 구분선
    -> column-gap: 다중열 사이간격
    
    *******************************/
    column-count: 3;
    /* column-rule: 두꼐 종류 색상 */
    column-rule: 5px dotted lightgreen;
    column-gap: 55px;
    /* 양쪽 정렬 */
    text-align: justify;
    /* 단어 깨기 
        1byte문자의 경우 단어 단위로 줄바꿈을 하는 세팅이 기본이기 때문에 이때 양쪽 정렬을 하면
        중간에 큰 공백이 생기는 원인이 됨
        따라서 단어를 깨기 위해
        word-break: break-all 속성을 작성함
        하지만, 2byte 문자인 한글은 알아서 단어가 깨짐
    */
    word-break: break-all;
    text-indent: 20px;
}
.dcbx p::first-letter{
    font-size: 42px;
    font-weight: bold;
    color: lightblue;
    text-shadow: 2px 2px 2px cyan;
}

/*************************** 3. 하단영역 ***************************/

#info{
    color: #fff;
    font: 30px "black ops one";
    text-shadow: 2px 2px 2px #000;
    background-color: #000000aa;
    text-align: center;
    padding: 50px;
}
.info::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: pink url("../images/robot_03.png") no-repeat;
    background-position: -12px -3px;
    background-size: 48px;
    vertical-align: -5px;
}

