@charset "UTF-8";

#menubx{
    display: block;
    width: 306px;
    height: 550px;
}
.titbx h3{
    font-size: 10px;
    color: #aaa;
}
.btnbx button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}