@charset "UFG-8";

/* CGV 인트로 페이지 CSS 파일 */
@import url(./reset.css);
@import url(./core.css);

/* 전체 페이지 보이는 화면 기준 */
html, body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 1. 비디오 요소 */
#myvid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: left top; */

    /* 필터의 명도를 조정하여 어둡게 보이게함 */
    filter: brightness(50%); 
    /* 용어체크
        1) 오버레이효과(overlay) - 어둡게 처리
        2) 트랜스페런트효과(transparent) - 밝게 처리
    */
}
/* 
    [ object-fit 속성 ]
    -> img, video 요쇼에 사용하는 맞춤속성

    - 부모요소 크기를 채우는 방식을 결정함!
    - contain 기본값
    - 특히 이미지일 경우 배경이미지로 넣어야
    빈공간 없이 비율을 유지하면 채울 수 있다고
    생각하는데 이 속성을 사용하면 마치 배경이미지처럼
    이미지를 채우고 나가는 부분을 처리함

    1. cover : 이미지나 동영상 비율유지하며
                부모박스를 빈공간 없이 채움
                (잘리는 부분이 있을 수 있음)
    2. fill : 이미지나 동영상의 비율을 깨고
                부모박스를 빈공간 없이 채움
                (잘리는 부분이 없다)
    3. contain : 이미지나 동영상이 모두 보이며
                비율을 유지함
                (잘리는 부분이 없으나 빈 공간 생김)


    [ object-posistion ]
    - object-fit을 사용한 설정에서 위치를 이동할 때 사용
    - 이미지나 동영상의 기준값을 변경 조정할 수 있음(기본값: center)
    - 설정법:
    object-position: 가로값 세로값;
    1) 가로값: - left, center, right(수치 px, %)
    2) 세로값: - top, center, bottom(수치 px, %)
    -> 기본값은 가로값, 세로값 모두 center



/* 2. 들어가기 버튼 */
#enter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    outline: 4px dotted lime;

    
}
#enter span{
    display: block;
    text-align: center;
    font-family: "Audiowide", cursive;
    font-size: 3.4rem;
    /* transition */
    transition: .8s;
}

/* 엔터박스 마우스 오버시 글자박스 */
#enter:hover span{
    transform: scale(2);
    color: chartreuse;

}

/* 엔터박스 로고 이미지 */
#enter img{
    width: 210px;
    height: 210px;
    /* transition */
    transition: 1s;
}


/* 엔터박스 로고 이미지 마우스 오버 */
#enter:hover img{
    transform: rotate(-15deg) scale(1.5);
}








*/