@charset "UTF-8";

/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
body *{
    outline: 2px dashed green;
}

/* 전체 배경 */
body{
    background-color: #000;
}

/***************************** 1. 상단 영역 *****************************/
/* 속박스 */
.top{
    position: relative;
    height: 80px;
    z-index: 999;
    /* 배경 이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1 로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 그림자를 이용한 글로우 효과 - 4px~12px 애니메이션 효과*/
    text-shadow: 0 0 4px aquamarine;
    animation: titAni .5s ease-in infinite alternate;
}
/* 타이틀 글로우 효과 애니메이션 키프레임*/
@keyframes titAni {100%{text-shadow: 0 0 12px aquamarine;}}
.gnb{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.gnb ul{
    display: flex;
    font-family: "Jua", sans-serif;
}
.gnb ul>li{
    position: relative;
    padding-bottom: 6px;
}
.gnb ul>li+li{
    margin-left: 20px;
}
.gnb ul>li>a{
    font-size: 2rem;
}

/* 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    width: 140px;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;

    display: none;
}
/* 상위메뉴 li에 마우스 오버시 .smenu보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}

.smenu::before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    /* 삼각형 만들기: border사용 */
    border-bottom: 10px solid #393939;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;;
}
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;

}
.smenu a{
    display: block;
    font-size: 1.6rem;
    line-height:1.7;
}
.smenu a:hover{
    color: red;
}
.gnb ul>li:nth-child(1) .smenu a:hover:after{
    content: '😍';
    float: right;
}
.gnb ul>li:nth-child(2) .smenu a:hover:after{
    content: '🎥';
    float: right;
}
.gnb ul>li:nth-child(3) .smenu a:hover:after{
    content: '🎬';
    float: right;
}
.gnb ul>li:nth-child(4) .smenu a:hover:after{
    content: '💻';
    float: right;
}

/* 서브메뉴 사이구분선 클래스 */
.bdt{
    border-top: 1px solid #ccc;
}



/***************************** 2. 메인 영역 *****************************/
/* 속박스 */
.cont{
    height: 788px;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top;/* 위쪽을 기준으로 줄어듦 */
    background-size: 100% auto;/* 가로크기 100% */
    position: relative;/* .screen의 부모자격 부여 */
}
/* 2-1 유튜브 스크린 */
.screen{
    position: absolute;
    top: 136px;
    left: 256px;
    width: 702px;
    height: 398px;
    background-color: #000;
}
/* 유튜브 iframe */
.screen iframe{
    /* 화면 채우기 및 border 없애기 */
    width: 100%;
    height: 100%;
    border: none;
}
/* 2-2 예고편 선택 메뉴 */
.mlist{
    position: absolute;
    bottom: 61px;
    left: 50%;
    width: 702px;
    transform: translateX(-49%);

    /* overflow는 부모자격이 있는 박스에 적용됨 */
    overflow: hidden;
}
/* 선택 메뉴 ul */
.mlist ul{
    display: flex;
    justify-content: space-between;
}
/* 포스터 이미지 */
.mlist ul>li img{
    width: 99px;
    height: 140px;
}

/* 영화 정보 박스 */
.movtxt{
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    /* 진행방향 정렬 */
    justify-content: center;

    position: absolute;
    width: 99px;
    height: 140px;
    text-align: center;
    top: 100%;
    background-color: #00000066;
    
    font-family: 'Cute Font', cursive;
    font-size: 14px;
    line-height: 2;
    
    transition: top .4s ease-out;
}
.mlist ul>li:hover .movtxt{
    top: 0;
}
/***************************** 3. 하단 영역 *****************************/
/* 속박스 */
.info{
    height: 100px;
}