@charset "UTF-8";

/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
/* body *{
    outline: 2px dashed green;
} */

/* 전체 배경 */
body{
    background-color: #000;
}

/***************************** 1. 상단 영역 *****************************/
/* 속박스 */
.top{
    position: relative;
    height: 80px;
    z-index: 999;
    /* 배경 이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1 로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 그림자를 이용한 글로우 효과 - 4px~12px 애니메이션 효과*/
    text-shadow: 0 0 4px aquamarine;
    animation: titAni .5s ease-in infinite alternate;
}
/* 타이틀 글로우 효과 애니메이션 키프레임*/
@keyframes titAni {100%{text-shadow: 0 0 12px aquamarine;}}
.gnb{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.gnb ul{
    display: flex;
    font-family: "Jua", sans-serif;
}
.gnb ul>li{
    position: relative;
    padding-bottom: 6px;
}
.gnb ul>li+li{
    margin-left: 20px;
}
.gnb ul>li>a{
    display: inline-block;
    font-size: 2rem;
    transition: transform 1s;
    
}
.gnb ul>li:hover>a{
    color: aquamarine;
    transform: scale(1.2);
    animation: titAni .5s ease-in infinite alternate;
}

/* 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    width: 140px;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;

    display: none;
}
/* 상위메뉴 li에 마우스 오버시 .smenu보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}

.smenu::before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    /* 삼각형 만들기: border사용 */
    border-bottom: 10px solid #393939;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;;
}
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;

}
.smenu a{
    display: block;
    font-size: 1.6rem;
    line-height:1.7;
}
.smenu a:hover{
    color: red;
}
.gnb ul>li:nth-child(1) .smenu a:hover:after{
    content: '😍';
    float: right;
}
.gnb ul>li:nth-child(2) .smenu a:hover:after{
    content: '🎥';
    float: right;
}
.gnb ul>li:nth-child(3) .smenu a:hover:after{
    content: '🎬';
    float: right;
}
.gnb ul>li:nth-child(4) .smenu a:hover:after{
    content: '💻';
    float: right;
}

/* 서브메뉴 사이구분선 클래스 */
.bdt{
    border-top: 1px solid #ccc;
}

/* 영사기 박스 */
#cam{
    position: absolute;
    bottom: -10px;
    right: -60px    ;
}
/* 영사기 이미지 */
#cam img{
    position: relative;
    z-index: 1;
    width: 50px;
    transform: rotate(45deg);
    transition: transform .8s ease-out;
}
/* 빔 박스 */
.beam{
    position: absolute;
    top: -16px;
    right: 10px;
    width: 0;
    height: 70px;
    opacity: 1;
    z-index: -1;
    background: url(../images/bim.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;
    /* outline: 2px dotted lime; */
}

.gnb:hover #cam img{
    transform: rotate(0);
    transition: transform 1s ease-out;
}
.gnb:hover .beam{
    width: 200px;
    transition: width .7s ease-out .8s;
    animation: beam .05s linear .8s alternate infinite;
}
@keyframes beam {
    to{
        opacity: .5;
    }
}

/* 1-3 찾아오는길 애니박스 */
.anibx{
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 80px;
    overflow: hidden;
}


/* 극장가는길 타이틀 */
.anibx>span{
    /* 커튼 대문역할 */
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    width: 144px;
    height: 80px;
    background: url(../images/curtain.jpg) no-repeat;
    text-align: center;
    line-height: 80px;
    font-family: "Cute Font";
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
    transition: top .5s ease-in-out .1s;
    animation: anibxAni 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
/* 오버시 들춰지는 효과 */
.anibx:hover>span{
    outline: 2px solid aqua;
    top: -100%; /* -> top은 기본값이 auto이므로 애니메이션 하려면 초기값 top: 0; 필요 */
}


/* 타이틀 애니 키프레임*/
@keyframes anibxAni {
    0%{
        text-indent: 0;
    }
    50%{
        text-indent: 0;
    }
    70%{
        text-indent: 250px;
    }
    70.1%{
        text-indent: -250px;
    }
    80%{
        text-indent: -250px;
    }
    100%{
        text-indent: 0;
    }
}


/* 스크린 */
.cellAni{
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 80px;

    /* 배경넣기 */
    background: url(../images/street.jpg) repeat-x;
    background-size: auto 100%;
    animation: street 4s linear infinite;
}
/* 스크린배경이동 키프레임 */
@keyframes street {
    to{
        background-position: -136px 0;
    }
}
/* 3-1.걷는존 */
.spani1{
    position: relative;
    width: 30%;
    height: 100%;
    margin: 0 auto;
    background: url(../images/spAni03.png) no-repeat;
    background-size: auto 100%;
    animation: spani1 1s steps(8) infinite;

    /* outline: 5px solid red; */
}
/* 걷는존 키프레임 */
@keyframes spani1 {
    to{
        background-position: -362px 0;
    }
    /* 배경이미지 x축 이동일 경우 줄였을 때 이미지 전체 가로크기를 마이너스 값으로 써주면 됨 */
}
/* 3-2.꼬마 */
.spani2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 29px;
    background: url(../images/spAni01.png) no-repeat;
    background-size: 200px;
    animation: spani2 1s steps(10) infinite;
}
/* 꼬마 키프레임 */
@keyframes spani2 {
    to{
        background-position: -200px 0;
    }
}
/* 3-3.몬스터 */
.spani3{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../images/spAni02.png) no-repeat;
    background-size: 240px;
    animation: 
    spani3X 1s steps(6) infinite,
    spani3Y 3s steps(3) infinite;
}
/* 몬스터 키프레임 X축 */
@keyframes spani3X {
    to{
        background-position-x: -240px;
    }
}
@keyframes spani3Y {
    to{
        background-position-y: -120px;
    }
}






/***************************** 2. 메인 영역 *****************************/
/* 속박스 */
.cont{
    position: relative;/* .screen의 부모자격 부여 */
    aspect-ratio: 1200 / 788; /* 비율 설정 */
    /* height: 788px; */
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top;/* 위쪽을 기준으로 줄어듦 */
    background-size: 100% auto;/* 가로크기 100% */
}
/* 2-1 유튜브 스크린 */
.screen{
    position: absolute;
    top: 17.2%;
    left: 21.4%;
    width: 58.5%;
    height: 50.6%;
    background-color: #000;
}
/* 유튜브 iframe */
.screen iframe{
    /* 화면 채우기 및 border 없애기 */
    width: 100%;
    height: 100%;
    border: none;
}
/* 2-2 예고편 선택 메뉴 */
.mlist{
    position: absolute;
    bottom: 7.9%;
    left: 50%;
    width: 60%;
    transform: translateX(-49%);

    /* overflow는 부모자격이 있는 박스에 적용됨 */
    overflow: hidden;
}
/* 선택 메뉴 ul */
.mlist ul{
    display: flex;
    justify-content: space-between;
    /* 보이는 화면 높이값의 50% */
    perspective: 50vh;
}
.mlist ul>li{
    flex: 1;
    position: relative;
    overflow: hidden;

    /* 회전-초기설정 */
    transform: rotateX(30deg);
    transform-origin: bottom;
    transition: .4s ease-in;
}
/* 마우스 오버시 일어나기 + 클래스"on"적용시 */
.mlist ul>li.on,
.mlist ul>li:hover {
    transform: rotateX(0);
    z-index: 1;
    outline: 2px solid cyan;
    
}
.mlist ul>li+li{
    margin-left: 1.5%;
}

/* 포스터 이미지 */
.mlist ul>li img{
    width: 100%;
    /* height: 140px; */
}

/* 영화 정보 박스 */
.movtxt{
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    /* 진행방향 정렬 */
    justify-content: center;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 100%;
    background-color: #00000066;
    
    font-family: 'Cute Font', cursive;
    font-size: min(14px, 1.2vw);
    line-height: 2;
    
    transition: top .4s ease-out;
}
.mlist ul>li:hover .movtxt{
    top: 0;
}

/* 영화정보 박스 제목만 변경 */
.movtxt li:first-child{
    font-size: min(17px, 1.5vw);
    color: aqua;
    white-space: nowrap;
}
/***************************** 3. 하단 영역 *****************************/
/* 속박스 */
.info{
    display: flex;
    /* 수직방향 정렬 */
    align-items: center;
    height: 100px;
}

/* 3-1 로고 */
.logo{
    margin-right: 100px;
}
/* 3-2 회사정보 */
.corp address{
    color: #999;  
    font-family: 'Cute Font', cursive;
    font-style: normal;
    line-height: 2rem;
    font-size: 1.8rem;
}
/* 3-3 SNS */
.sns{
    /* 오른쪽 끝에 위치 */
    margin-left: auto;
}
.sns ol{
    display: flex;
}
.sns ol li{
    width: 34px;
    height: 34px;
}
.sns li+li{
    margin-left: 5px;
}
.sns a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 34px;
    text-align: center;
}
/* 마우스 오버시 글자색 변환 */
/* 페이스북 */
.sns a[class$=book]:hover{
    color: lightskyblue;
}
/* 트위터 */
.sns a[class^='fa-brands fa-square-tw']:hover{
    color: lightcoral;
}
/* 인스타그램 */
.sns a[class*=ins]:hover{
    color: lightgreen;
}
/* 
    속성 선택자: [속성명] 
    - 속성명의 어떤 특정 값을 비교하는 3가지 방법
    
    1. [속성명=값] -> 정확히 일지하는 값을 선택
    2. [속성명*=값] -> 값이 내용중에 존재 하는 문자열 선택
    3. [속성명^=값] -> 값으로 시작하는 문자열 선택
    4. [속성명$=값] -> 값으로 끝나는 문자열 선택

    * 하늘에 있고 모두가 볼 수 있음 *= -> 모든 일치내용
    ^ 만날 때는 웃으면서 만남 ^= -> 시작하는 내용
    $ 끝날 때는 돈받고 끝냄 $= -> 끝나는 내용


    - 사용하는 문자열에 띄어쓰기나 특수문자가 존재한다면 따옴표로 묶어서 사용
*/