@charset "UTF-8";

/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
/* body *{
    outline: 2px dashed green;
} */

/* 전체 배경 */
body{
    background-color: #000;
}

/***************************** 1. 상단 영역 *****************************/
/* 속박스 */
.top{
    position: relative;
    height: 80px;
    z-index: 999;
    /* 배경 이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1 로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 그림자를 이용한 글로우 효과 - 4px~12px 애니메이션 효과*/
    text-shadow: 0 0 4px aquamarine;
    animation: titAni .5s ease-in infinite alternate;
}
/* 타이틀 글로우 효과 애니메이션 키프레임*/
@keyframes titAni {100%{text-shadow: 0 0 12px aquamarine;}}
.gnb{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.gnb ul{
    display: flex;
    font-family: "Jua", sans-serif;
}
.gnb ul>li{
    position: relative;
    padding-bottom: 6px;
}
.gnb ul>li+li{
    margin-left: 20px;
}
.gnb ul>li>a{
    display: inline-block;
    font-size: 2rem;
    transition: transform 1s;
    
}
.gnb ul>li:hover>a{
    color: aquamarine;
    transform: scale(1.2);
    animation: titAni .5s ease-in infinite alternate;
}

/* 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    width: 140px;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;

    display: none;
}
/* 상위메뉴 li에 마우스 오버시 .smenu보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}

.smenu::before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    /* 삼각형 만들기: border사용 */
    border-bottom: 10px solid #393939;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;;
}
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;

}
.smenu a{
    display: block;
    font-size: 1.6rem;
    line-height:1.7;
}
.smenu a:hover{
    color: red;
}
.gnb ul>li:nth-child(1) .smenu a:hover:after{
    content: '😍';
    float: right;
}
.gnb ul>li:nth-child(2) .smenu a:hover:after{
    content: '🎥';
    float: right;
}
.gnb ul>li:nth-child(3) .smenu a:hover:after{
    content: '🎬';
    float: right;
}
.gnb ul>li:nth-child(4) .smenu a:hover:after{
    content: '💻';
    float: right;
}

/* 서브메뉴 사이구분선 클래스 */
.bdt{
    border-top: 1px solid #ccc;
}



/***************************** 2. 메인 영역 *****************************/
/* 속박스 */
.cont{
    position: relative;/* .screen의 부모자격 부여 */
    aspect-ratio: 1200 / 788; /* 비율 설정 */
    /* height: 788px; */
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top;/* 위쪽을 기준으로 줄어듦 */
    background-size: 100% auto;/* 가로크기 100% */
}
/* 2-1 유튜브 스크린 */
.screen{
    position: absolute;
    top: 17.2%;
    left: 21.4%;
    width: 58.5%;
    height: 50.6%;
    background-color: #000;
}
/* 유튜브 iframe */
.screen iframe{
    /* 화면 채우기 및 border 없애기 */
    width: 100%;
    height: 100%;
    border: none;
}
/* 2-2 예고편 선택 메뉴 */
.mlist{
    position: absolute;
    bottom: 7.9%;
    left: 50%;
    width: 60%;
    transform: translateX(-49%);

    /* overflow는 부모자격이 있는 박스에 적용됨 */
    overflow: hidden;
}
/* 선택 메뉴 ul */
.mlist ul{
    display: flex;
    justify-content: space-between;
}
.mlist ul>li{
    flex: 1;
    position: relative;
    overflow: hidden;
}
.mlist ul>li+li{
    margin-left: 1.5%;
}

/* 포스터 이미지 */
.mlist ul>li img{
    width: 100%;
    /* height: 140px; */
}

/* 영화 정보 박스 */
.movtxt{
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    /* 진행방향 정렬 */
    justify-content: center;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 100%;
    background-color: #00000066;
    
    font-family: 'Cute Font', cursive;
    font-size: min(14px, 1.2vw);
    line-height: 2;
    
    transition: top .4s ease-out;
}
.mlist ul>li:hover .movtxt{
    top: 0;
}

/* 영화정보 박스 제목만 변경 */
.movtxt li:first-child{
    font-size: min(17px, 1.5vw);
    color: aqua;
    white-space: nowrap;
}
/***************************** 3. 하단 영역 *****************************/
/* 속박스 */
.info{
    display: flex;
    /* 수직방향 정렬 */
    align-items: center;
    height: 100px;
}

/* 3-1 로고 */
.logo{
    margin-right: 100px;
}
/* 3-2 회사정보 */
.corp address{
    color: #999;  
    font-family: 'Cute Font', cursive;
    font-style: normal;
    line-height: 2rem;
    font-size: 1.8rem;
}
/* 3-3 SNS */
.sns{
    /* 오른쪽 끝에 위치 */
    margin-left: auto;
}
.sns ol{
    display: flex;
}
.sns ol li{
    width: 34px;
    height: 34px;
}
.sns li+li{
    margin-left: 5px;
}
.sns a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 34px;
    text-align: center;
}
/* 마우스 오버시 글자색 변환 */
/* 페이스북 */
.sns a[class$=book]:hover{
    color: lightskyblue;
}
/* 트위터 */
.sns a[class^='fa-brands fa-square-tw']:hover{
    color: lightcoral;
}
/* 인스타그램 */
.sns a[class*=ins]:hover{
    color: lightgreen;
}
/* 
    속성 선택자: [속성명] 
    - 속성명의 어떤 특정 값을 비교하는 3가지 방법
    
    1. [속성명=값] -> 정확히 일지하는 값을 선택
    2. [속성명*=값] -> 값이 내용중에 존재 하는 문자열 선택
    3. [속성명^=값] -> 값으로 시작하는 문자열 선택
    4. [속성명$=값] -> 값으로 끝나는 문자열 선택

    * 하늘에 있고 모두가 볼 수 있음 *= -> 모든 일치내용
    ^ 만날 때는 웃으면서 만남 ^= -> 시작하는 내용
    $ 끝날 때는 돈받고 끝냄 $= -> 끝나는 내용


    - 사용하는 문자열에 띄어쓰기나 특수문자가 존재한다면 따옴표로 묶어서 사용
*/