@charset "UTF-8";

/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
body *{
    outline: 2px dashed green;
}

/* 전체 배경 */
body{
    background-color: #000;
}

/***************************** 1. 상단 영역 *****************************/
/* 속박스 */
.top{
    height: 80px;
}
/***************************** 2. 메인 영역 *****************************/
/* 속박스 */
.cont{
    height: 788px;
}

/***************************** 3. 하단 영역 *****************************/
/* 속박스 */
.info{
    height: 100px;
}