@charset "UTF-8";

@media screen and (max-width: 1330px) {
    .gnb{
        right: 70px;
    }
}
@media screen and (max-width: 1050px) {
    .tit{
        font-size: 8.7vw;
    }
    .gnb{
        padding-top: 40px;
        bottom: -124px;
        right: 10px;
    }
    .gnb ul{
        flex-direction: column;
        align-items: flex-end;
        display: none;
    }
    .gnb:hover ul{
        display: flex;
    }
    .gnb ul>li:hover .smenu{
        display: none;
    }
    #cam{
        bottom: 136px;
        right: 0;
        cursor: pointer;
    }
}
@media screen and (max-width: 1000px) {
    .info{
        padding: 30px;
        flex-direction: column;
        gap: 10px;
    }
    .logo{
        margin-right: 0;
    }
    .corp address{
        text-align: center;
    }
    .sns{
        margin-left: 0;
    }
}
@media screen and (max-width: 800px) {
    .mlist ul{
        flex-wrap: wrap;
        gap: 1vh 2.2%;
        }
    .mlist ul>li{
        flex-basis: 31.83%;
        /* 사이간격 마진이 빠진 비율임 */
        /* -> flex-basis 는 width와 같지만
        flex 통합설정에서는 flex-basis로 재정의 됨 */
    }
    .mlist ul>li+li{
        margin-left: 0;
    }
    .cont{
        aspect-ratio: 1/1.3; /* 비율 설정 */
        background-size: 120%;
    }
    .screen{
        top: 10.4%;
        left: 15.7%;
        width: 70.4%;
        height: 30.6%;
    }
    .mlist{
        bottom: 3.9%;
        width: 80%;
    }
    .anibx{
        display: none;  
    }
    .movtxt{
        font-size: 3vw;
    }
    .movtxt li:first-child{
        font-size: 4vw;
    }
}