@charset "UTF-8";
/* 전체 페이지 공통 CSS
- index.html 페이지 전체에 적용됨 */
html, body, ul, ol, li{
  margin: 0;
  padding: 0;
}
body{
  background-color: #fafafa;
  padding-top: 58px;
}
main.cont{
  min-height: calc(100vh - 58px - 210px);
}
ul, ol{
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
