@charset "utf-8";
/* 큐브트립 메인 CSS - main.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|East+Sea+Dokdo|Jua&display=swap');
/*
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Jua', sans-serif;
*/
/* 변수세팅 */
:root{
    /* 큐브 공통 크기 */
    --csz: 25vw;
}

html,body,h1,h2,h3,h4,h5,h6,ul, p{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #777 30%, #ccc 70%);
}


/********************** 1. 전체제목 **********************/
.tit{
    text-align: center;
    font-family: "Black And White Picture", sans-serif;
    color: #fff;
    font-size: 60px;
    font-weight: normal;
    padding-top: 50px;
    background: url(../images/citybg.png) no-repeat center 20px/auto 85%;
}

/********************** 2. 메뉴버튼 **********************/

.city{
    position: fixed;
    top: 5vw;
    right: 5vw;
}
.city ul{
    list-style: none;
    width: min(200px, 15vw);
    perspective: 50vw;
}
.city li{
    height: 10vh;
    background-image: linear-gradient(to right, transparent, blue);
    transition: .3s;
    transform-origin: right;
}
.city li a{
    display: block;
    width: 100%;
    height: 100%;
    font: 5vh/10vh "East Sea Dokdo";
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* li에 오버시 y축 회전하기 */
.city li:nth-child(1):hover{
    transform: rotateY(50deg);
    background-image: linear-gradient(to right, transparent, red);
}
.city li:nth-child(2):hover{
    transform: rotateY(30deg);
    background-image: linear-gradient(to right, transparent, orange);
}
.city li:nth-child(3):hover{
    transform: rotateY(-60deg);
    background-image: linear-gradient(to right, transparent, yellow);
}
.city li:nth-child(4):hover{
    transform: rotateY(20deg);
    background-image: linear-gradient(to right, transparent, green);
}
.city li:nth-child(5):hover{
    transform: rotateY(-10deg);
    background-image: linear-gradient(to right, transparent, navy);
}
.city li:nth-child(6):hover{
    transform: rotateY(45deg);
    background-image: linear-gradient(to right, transparent, purple);
}


/********************** 3. 큐브박스 **********************/



/* 큐브 */
.cube{
    position: absolute;
    top: calc(50% - var(--csz)/2);
    left: calc(50% - var(--csz)/2);
    width: var(--csz);
    height: var(--csz);

    /* 
        [입체로 설정하기] 
        - 입체로 설정할 요소의 부모박스에 아래와 같이 설정함
        transform-style: preserve-3d;
        - 기본값은 2D설정인 flat
    */
    transform-style: preserve-3d;

    /* 입체를 잘 보이게 하기 위해서 살짝 회전 */
    /* transform: rotateX(10deg) rotateY(30deg); */


    /* outline: 2px solid red; */
}

/* 큐브각면 공통 */
.cube span{
    position: absolute;
    /* absolute는 자동 블록 */
    width: 100%;    
    height: 100%;


    opacity: 0.8;
    outline: 1px solid #555;
}

/* 1. 앞면 */
.cube span:nth-child(1){
    background: url(../images/cityMain.jpg) no-repeat center/cover;
    
    /* 화면방향(z축) */
    transform: translateZ(calc(var(--csz)/2));
    /* 큐브사이즈 절반을 앞쪽으로 이동 */
}

/* 2. 오른쪽 면 : 런던 */
.cube span:nth-child(2){
    background: url(../images/London_city.jpg) no-repeat center/cover;
    
    transform: 
    rotateY(90deg)
    translateZ(calc(var(--csz)/2));
    /* 먼저 Y축 회전 후 큐브사이즈 절반을 앞쪽으로 이동 */
}

/* 3. 뒤쪽면 : 파리*/
.cube span:nth-child(3){
    background: url(../images/parisCity.jpg) no-repeat center/cover;
    
    transform: 
    rotateY(180deg)
    translateZ(calc(var(--csz)/2));
    /* 먼저 Y축 회전 후 큐브사이즈 절반을 앞쪽으로 이동 */
}

/* 4. 왼쪽면 : 베를린*/
.cube span:nth-child(4){
    background: url(../images/berlin_city.jpg) no-repeat center/cover;
        
    transform: 
    rotateY(-90deg)
    translateZ(calc(var(--csz)/2));
    /* 먼저 Y축 회전 후 큐브사이즈 절반을 앞쪽으로 이동 */
}

/* 5. 윗면 : 서울*/
.cube span:nth-child(5){
    background: url(../images/seoulCity.jpg) no-repeat center/cover;
    
    transform: 
    rotateX(90deg)
    translateZ(calc(var(--csz)/2));
    /* 먼저 Y축 회전 후 큐브사이즈 절반을 앞쪽으로 이동 */
}

/* 6. 아랫면 : 뉴욕*/
.cube span:nth-child(6){
    background: url(../images/newyorkCity.jpg) no-repeat right/auto 105%;
    
    transform: 
    rotateX(-90deg)
    translateZ(calc(var(--csz)/2));
    /* 먼저 Y축 회전 후 큐브사이즈 절반을 앞쪽으로 이동 */
}

/* 큐브회전 클래스 */
.cube-ani{
    animation: cubeAni 4s linear infinite;
    /* 애니메이션 처음에 멈춰있기 */
    animation-play-state: paused;
}

/* 큐브회전 작동 클래스 + .on */
.cube-ani.on{
    /* 애니메이션 작동하기 */
    animation-play-state: running;
}

/* 큐브회전 키프레임 */
@keyframes cubeAni {
    to{
        transform: 
        rotateX(370deg) 
        rotateY(-330deg);
        /* 
            X축 양의 방향으로 10도에서 출발 같은 양의 방향으로 10도+360도 = 370도
            -> 음의 방향으로는 10도-360도 = -350도
            _______________________________________
            
            Y축 양의 방향으로 30도에서 출발 같은 양의 방향으로 30도+360도 = 390도
            -> 음의 방향으로는 30도-360도 = -330도
        */

        /* Z축 회전도 적용할 수 있음 */
    }
}

/********************** 4. 도시설명박스 **********************/
.cbx{
    position: absolute;
    top: calc(50% - var(--csz)/2);
    left: calc(50% - var(--csz)/2);
    width: var(--csz);
    height: var(--csz);
    
    /* 처음에 투명하게 */
    opacity: 0;

    /* outline: 2px dashed red; */

    font-family: 'jua';
    color: #fff;
    text-shadow: 0 0 2px #000;
}

/* 도시정보 속박스 */
.ctxt{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    box-sizing: border-box;
}

/* 도시명 */
.cname{
    line-height: min(7vw, 100px);
    text-align: center;
    font-size: min(40px, 2.5vw);
}

/* 도시설명 */
.cinfo{
    height: calc(100% - min(7vw, 100px));
    padding: min(10px, 2vw);
    font-size: min(16px, 1.1vw);
    line-height: min(28px, 1.5vw);
    background-color: #00000044;
    box-sizing: border-box;
}


