@charset "UTF-8";
/* 도깨비 PJ 로그인페이지 CSS - login.css
-> 메인페이지에만 나오는 디자인*/

/* 공통 외부 CSS 합치기 */
@import url("./reset.css");
@import url("./core.css");
@import url("./common.css");

/* 메인 겉박스 */
#cont{
    background-color: #d7d7d7;
}

/* 메인 속박스 */
.cont{
    /* 최소 높이 수정  */
    min-height: 600px;
}

/* 2-1 타이틀 */
.stit{
    font-size: 5rem;
    font-weight: normal;

    text-align: center;
    padding: 40px 0 20px;
}

/* 2-2 컨텐츠 박스 */
.scont{
    position: relative;
    max-width: 700px;
    min-height: 275px;

    margin: 0 auto;    
    background-color: #fff;
    padding: 60px 15px;
    border-radius: 10px;
    border: 2px solid #777;
    box-sizing: border-box;
    
}



/* 입력창 공통 라벨 */
.minput label{
    /* 크기디자인 적용 위해 display: inline-block 적용 */
    display: inline-block;
    width: 150px;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    text-align: center;
    line-height: 3.6rem;
}

/* 입력양식(input) 공통 */
.minput input{
    width: 320px;
    height: 36px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1.8rem;
    padding-left: 15px;
    box-sizing: border-box;
}

/* 비밀번호 박스 */
.scont div:nth-child(2){
    margin-top: 20px;
}

/* 포커스 outline 제거 */
/* 모든 브라우저에 기본 포커스 outline 세팅됨 */
input:focus{
    outline: none;
}

/* 버튼 영역 */
.btnbx{
    position: absolute;
    top: 60px;
    right: 60px;
}
#sbtn{
    width: 113px;
    height: 92px;
    border: 1px solid #888;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #ddd, #555);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 1px 1px #000;
    cursor: pointer;
}
#sbtn:hover{
    border: 2px solid #f66;
    background-image: linear-gradient(to top, #f55, #fcc);
}

/* 기타 링크 */
.addbx{
    text-align: center;
    margin-top: 50px;
    font-size: 1.6rem;
    /* 체크박스 빠르게 체크시 영역이 잡히는것 막기 */
    user-select: none;
}

/* 체크박스 라벨과 세로정렬 */
.addbx input{
    display: none;
}
/* 체크박스 라벨을 체크박스로 만들기 */
.addbx input+label{
    display: inline-block;
    vertical-align: -1px;
    width: 20px;
    height: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    margin-right: 5px;
    color: orangered;
}
/* 체크박스 체크시 아이콘 변경 */
.addbx input:checked+label{
    font-weight: 900;
}
.addbx label{
    cursor: pointer;
}

/* 기타링크 구분선 넣기*/
.addbx span+span::before{
    content: '|';
    margin: 0 15px;
    color: #999;
}
/* 기타링크 a요소 */
.addbx a{
    color: #000;
    text-decoration: none;
}
.addbx a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: double;
}