@charset "UTF-8";
/* 도깨비 PJ 메인페이지 CSS - main.css
-> 메인페이지에만 나오는 디자인*/

/* 공통 외부 CSS 합치기 */
@import url("./reset.css");
@import url("./core.css");
@import url("./common.css");

/* 공사중 표시 */
/* body *{
    outline: 1px dotted red;
} */
/* 컨텐츠파트 최상위 부모 */

body {
    /* 한번에 배경주기 + 여러개 주기 */
    /* background : 색이반고윙/크 */
    /* 콤마로 구분하여 여러 배경이미지 삽입 가능, 먼저 작성한 이미지가 위에 옴 */
    background: url("../images/bg_logo_a_01.png") no-repeat fixed 10% 28%/10%,
        url("../images/bg_mainvisual.jpg") no-repeat fixed center/cover;
    /* 외부 CSS에서 이미지 경로를 설정할 때 유의사항 -> CSS파일 위치에서 이미지를 찾아가야함 */
    /* fixed인 배경이미지는 body의 높이값과 상관없이 보이는 화면을 기준하여 그 크기를 잡음. */
}

/********************************* 메인영역 *********************************/
/* 메인영역 속박스 */
.cont {
    position: relative;
    overflow: hidden;
    /* 자식요소 위, 아래 margin 포함 */
}
/* 전체 캐릭터 박스 */
.cbx {
    width: 90%;
    margin: 0 auto;
    /* 상단margin -> 부모박스에 overflow: hidden 설정 */
    margin-top: 470px;
}

/* 자식요소의 float 해제 clear설정 가상요소*/
.cbx::after {
    content: "";
    display: block;
    clear: both;
}

/* 캐릭터 각 박스 공통 */
.cat {
    /* 블록박스 옆으로 흐르게 */
    float: left;
    /* 4등분 할 가로크기 -> 25% - 1%(마진) = 24%*/
    width: 24%;
    margin: 0 .5%;
}
/* 캐릭터 이미지 박스 */
.cat .ci{
    transition: margin-top .4s;
}
/* .cat에 오버시 .ci박스 마진탑 변경하기 */
.cat:hover .ci{
    margin-top: -55%;
}
/* 캐릭터 이미지 */
.ci > img {
    /* 이미지 가로크기 박스 채우기 - 이미지 자동비율*/
    width: 100%;
}
/* 캐릭터 이름 이미지 박스*/
.ci figcaption {
    /* 박스 내부의 inline요소의 가운데 정렬 */
    text-align: center;
    /* 포지션 세팅 없이 박스를 일반적으로 이동하는 방법은 margin을 이용한 이동
    (margin-top, margin-left) %단위일 경우 margin-top은 height, 
    margin-left는 width을 기준으로 하여 상대적인 단위를 잡는다 */
    margin-top: -21%;
}
/* 캐릭터 이름 이미지 */
.ci figcaption img {
    width: 40%;
    /* 단위가 %이면 질문 필요 -> 무엇을 기준으로 하는 %인가
        -> 여기서 기준은 싸고있는 부모박스 즉, figcaption 요소박스의 가로크기가 기준 */
}
/* 캐릭터 이름 이미지 중 첫 번째 이미지 처음에 숨기기 */
.ci figcaption img:first-child {
    display: none;
}
/* .cat박스에 마우스 오버시 진한 이미지 보이기 */
.cat:hover .ci figcaption img:first-child {
    display: inline;
}
/* .cat박스에 마우스 오버시 흐린 이미지 숨기기 */
.cat:hover .ci figcaption img:last-child {
    display: none;
}


/* 캐릭터 설명 박스 */
.cd{
    /* 넘치는 자식요소 숨기기 */
    height: 0;
    overflow: auto;
    background: url("../images/eachBG.jpg") no-repeat bottom/cover;
    
    border-radius: 20px 3px 3px 20px;
    /* transition - 두가지 변화상태를 애니메이션 해주는 속성
        transition: 속성 시간 이징 지연 */
    transition: height .4s;
    margin-top: 20px;
}  
/* .cat에 마우스 오버시 .cd 높이값 늘리기 */
.cat:hover .cd{
    height: 250px;
}

/* 중간 미디어쿼리에서 겹쳐질때 위로 올라오도로 설정추가 */
.cat:hover{
    z-index: 1;
}



/* 캐릭터 타이틀 */
.cd h3{
    font-family: 'Gugi', cursive;
    font-size: min(24px, 1.7vw);
    font-weight: normal;
    white-space: nowrap;
    padding: 15px 10px 5px;
    letter-spacing: -1px;
}       
/* 캐릭터 타이틀 앞 아이콘 가상요소로 넣기 */
.cd h3::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 35px;
    margin-right: 3px;
    vertical-align: -6px;
    background: url("../images/bg_logo_a_01.png") no-repeat -144px -181px;
    /* 배경이미지 위치값은 본 이미지를 그림판으로 열어서 마우스 커서위치에 따라 표시되는 x,y축 좌표값을 마이너스 기호를 붙여서 가로,세로순으로 써주면 정확한 위치가됨 */
}

/* 캐릭터 설명 문단 */
.cd p{
    font-family: 'Single Day', 'ZCOOL Kuaile',cursive;
    font-size: min(1.3vw, 18px);
    line-height: 1.6;
    padding: min(1v  w, 16px);
}
/* 캐릭터 첫 번째 문단 첫 글자 가상요소로 디자인 변경하기 */
.cat:first-child .cd p:first-child::first-letter{
    font-size: min(50px, 5vw);
    font-weight: bold;
    line-height: 0.9;
    color: cyan;
    /* 블러 없는 그림자 4개 사용으로 글자 테두리 만들기*/ 
    text-shadow: 
    1px 0 black,
    -1px 0 black,
    0 1px black,
    0 -1px black;
}
.cat:nth-child(2) .cd p:first-child::first-letter{
    font-size: min(50px, 5vw);
    font-weight: bold;
    line-height: 0.9;
    color: lightcoral;
    /* 블러 없는 그림자 4개 사용으로 글자 테두리 만들기*/
    text-shadow: 
    1px 0 black,
    -1px 0 black,
    0 1px black,
    0 -1px black;
}
.cat:nth-child(3) .cd p:first-child::first-letter{
    font-size: min(50px, 5vw);
    font-weight: bold;
    line-height: 0.9;
    color: lightgreen;
    /* 블러 없는 그림자 4개 사용으로 글자 테두리 만들기*/
    text-shadow: 
    1px 0 black,
    -1px 0 black,
    0 1px black,
    0 -1px black;
}
.cat:nth-child(4) .cd p:first-child::first-letter{
    font-size: min(50px, 5vw);
    font-weight: bold;
    line-height: 0.9;
    color: lightgoldenrodyellow;
    /* 블러 없는 그림자 4개 사용으로 글자 테두리 만들기*/
    text-shadow: 
    1px 0 black,
    -1px 0 black,
    0 1px black,
    0 -1px black;
}

/* 등장글자이미지 */
#mvtxt{
    position: absolute;
    width: min(20vw, 327px);
    top: 15vh;
    right: 5vw;
}