@charset "UTF-8";
@media screen and (max-width: 1200px) {
    .brand{
        top: 159px;
        right: 10px;

    }
}
@media screen and (max-width: 900px) {
    /* 전체 글자 크기 변경 */
    html{
        font-size: 8.235px;
    }
    .cont{
        min-height: 100vw;
    }
    /* 전체 캐릭터 박스 */
    .cbx{
        margin-top: 10vw;
    }
    .cat {
        width: 49%;
        position: relative;
        margin-bottom: 20px;
    }
    .cat:hover .ci{
        margin-top: 0;
    }
    #mvtxt{
        display: none;
    }
    .cd{
        position: absolute;
        z-index: 1;
    }
    .cd p:first-child::first-letter{
        font-size: 100vw;
    }
}


@media screen and (max-width: 780px) {
    .tmenu, .smbx, .gnb>ul>li>a::after, .gnb{
        display: none;
    }
    .top.on .tmenu{
        display: block;
    }
    /* gnb메뉴 변경하기
    -> .top에 .on을 준 경우 적용됨
    -> 메뉴를 fixed로 고정*/
    .top.on .gnb{
        display: block;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000bb;
        z-index: 9999;
    }
    aside.tmenu{
        position: fixed;
        z-index: 99999;
        top: 85vh;
        width: 100vw;
    }
    .tmenu ul{
        justify-content: center;
        flex-wrap: wrap;
    }
    .tmenu>ul ol{
        justify-content: center;
        margin-top: 2vh;
        transform: scale(1.5);
    }
    .tmenu>ul>li:last-child{
        width: 100%;
    }
    .tmenu>ul>li>a{
        color: #fff;
        font-size: 6vw;
    }
    /* flex방향을 column으로 세로로 고정 */
    nav.gnb ul{
        flex-direction: column;
        text-align: center;
        margin-top: 15vh;
    }
    .gnb>ul>ul{
        margin: 0;
        height: 10vh;
    }
    /* gnb메뉴 a변경 */
    .gnb>ul>li>a{
        font-size: 5vh;
        line-height: 10vh;
        color: #fff;
    }
    h1.logo{
        position: relative;
        z-index: 99999;
    }
    .ham{
        display: block;
    }
    /* .ham버튼에 상위 .top에 클래스 on줄경우 x버튼으로변경 */
    .top.on .ham{
        z-index: 9999;
        color: #fff;
        transform: scale(1.5);
    }
    .top.on .ham::before{
        content: '×';
    }
    .top{
        position: relative;
        height: 80px;
    }
    .cat{
        width: 99%;
    }
    .cd{
        position: static;
    }
    .cd h3{
        font-size: 4.5vw;
    }
    .cd p{
        font-size: 4vw;
        padding: 3vw;
    }
    .cd p:first-child::first-letter{
        font-size: 10vw;
    }
    .brand{
        bottom: 10px;
        top: auto;
    }
    .blink li:nth-child(-n+2){
        display: none;
    }
}

